---
#
---
@charset "utf-8";

$flexi-brand:      {{ site.flexi-brand }};
$version: 2;
@if $version == true {
	$flexi-brand: $flexi-brand + $version;
} @else if $version == ""{
	$flexi-brand: $flexi-brand;
}

@if $flexi-brand == "Lombard" {
	$base-font-family: Verdana, Helvetica, Arial, sans-serif;
}

@if $flexi-brand == "skye" {
	@font-face {
			font-family: Chapeau-Bold;
			src: url(../assets/fonts/Chapeau-Bold.otf);
	}
	@font-face {
			font-family: Chapeau-Light;
			src: url(../assets/fonts/Chapeau-Light.otf);
	}
	@font-face {
			font-family: Chapeau-Regular;
			src: url(../assets/fonts/Chapeau-Regular.otf);
	}
}


$base-font-family: Helvetica, Arial, sans-serif;

$text-color:       #555555; /* default text color */

$header:           14px; /* text size for <h1> 14px */
$p:                12px; /* text size for <p> 12px */
$tc:               10px; /* text size for terms & condition 10px */
$line-height:      14px;
$footer-line-height: $line-height - 65;
$base-margin:      15px;

$on-desktop:       4096px; /* breakpoint for desktop */
$on-mobile:        550px; /* breakpoint for mobile */


@import
		"module/foundation-emails.scss",
		"../css/partials/custom-style",		
		"../css/partials/custom-layout",
		"../css/partials/brand-variables";

