@mixin brand($primary-color, $secondary-color, $bg-color, $link-color){
        .primary-color{color: $primary-color;}
        .primary-bg-color{background: $bg-color; color:#ffffff;}
        .secondary-color{color: $secondary-color}
        .secondary-bg-color{background-color: $secondary-color; color: #ffffff;}        
        a.link-color, .link-color{color: $link-color !important;}        
        .text-color, .text-color table, .text-color td {color: $text-color;}
        .justify p {
        /*  text-align: justify;  */
        }
}

@if $flexi-brand == "FlexiCommercial" {
/*FlexiCommercial*/
 @include brand(#38B449, #3E6683, #38B449, #CCCCCC);
}
@if $flexi-brand == "FlexiRent" or $flexi-brand == "FlexiRent2"{
/*FlexiRent*/
 @include brand(#E30450, #00A0DF, #E30450, #00a3a1);
}
@if $flexi-brand == "EziLease" {
/*EziLease */
  @include brand(#336699, #555555, #336699, #336699);
}
@if $flexi-brand == "FlexiWay" or $flexi-brand == "FlexiWay2" {
/*FlexiWay */    
  @include brand(#00a0df, #6f2c91, #00a0df, #f6ad1d);
}
@if $flexi-brand == "SmartWay" {
/*SmartWay */    
  @include brand(#000000, #00a9bd, #000000, #241f58);
}
@if $flexi-brand == "Lombard" {
/*Lombard */
  @include brand(rgb(0, 45, 85), #6f2c91, rgb(0, 45, 85), #F0575B);
  h6 {line-height:$line-height - 55;}
}
@if $flexi-brand == "Once" {
/*Once*/
  @include brand(#f99d2a, #254e66, #f99d2a, #009fce);  
}
@if $flexi-brand == "RSM" {
/*RSM*/
  @include brand(#55bcd2, #555555, #55bcd2, #55bcd2); //primary, secondary, bg-color, link
}
@if $flexi-brand == "Lisa" {
/*LSA*/
  $text-color:       #343e51; 
  @include brand(#3A0839, #555555, #55bcd2, #55bcd2); //primary, secondary, bg-color, link
  
}

/* extension class brand */
.tetiary-color{color: #3E6683;}
.tetiary-bg-color{background-color: #3E6683; color:#fff;}
.quaternary-color{color: #EBEBEB;}
.quaternary-bg-color{background-color: #EBEBEB; color:$text-color;}
.text-size, .text-size table, .text-size table tr th p {font-size: $p;line-height:20px;}
p.text-size-account-details {font-size:12px;}
.text-size table tr td h6, .text-size table tr td h6 strong {font-size: $p;}
a.unsubscribe{ color: #0000EE; text-decoration: none; font-size: 10px;}