/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/*                       CUSTOM STYLE FOR FLEXIGROUP  */
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* RULES to be inline (if used)*/

    /*==========  Flexi-brand ==========*/
    span.notify{font-size:.8em;padding: 5px;border-radius: 3px;}
    .category {margin-bottom:5px;Margin:0 0 5px 0;}
    .text-size-footer{font-size: $tc; line-height:$footer-line-height;}
    .text-size-footer-flr{
      font-size: $tc;
      line-height:$line-height;
      text-align:justify;
      text-justify: inter-word;
    }
    .rental-option-style tr td *{margin:5px;Margin:5px;}
    .equipment-indent {
      Margin: 0 0 0 3.5em;
      margin: 0 0 0 3.5em;
    }
    .options-div {
      width:90%;
      Margin:0 auto;
    }
    p.no-margin-bottom{
      Margin-bottom:0;
      margin-bottom:0;
    }
    p.no-margin{
      Margin-bottom:0;
      margin-bottom:0;
      Margin-right:0;
      margin-right:0;
      Margin-left:0;
      margin-left:0;
      Margin-top:0;
      margin-top:0;
    }
    .custom-margin-bottom{
      Margin-bottom:10px;
      margin-bottom:10px;
    }
    table.custom-margin-left, .custom-margin-left{
      Margin-left:40px;
      margin-left:40px;
      width: 93.84615384615385%;
      vertical-align: top;
    }
    table.lombard-custom-margin-left{
      Margin-left:40px;
      margin-left:40px;
      width: 93.84615384615385%;
      vertical-align: top;
    }
    img.flexi-logo {
      Margin-top:30px;
      width: 160px;
    }
    .flexi-margin {
      Margin-top:10px;
      margin-top:10px;
      Margin-bottom:10px;
      margin-bottom:10px;
      Margin-bottom:10px;
      margin-bottom:10px;
      Margin-left:10px;
      margin-left:10px;
    }
    .flexi-margin-left {
      Margin-left:10px;
      margin-left:10px;
    }
    .flexi-margin-top {
      Margin-top:10px;
      margin-top:10px;          
    }
    .flexi-margin-bottom {
      Margin-bottom:10px;
      margin-bottom:10px;
    }
    sup {
      line-height: 0;
      font-size:10px !important;
    }         
    /* .justify p {
      text-align: justify;
    } */


/*========== for specific fix per client ==========*/


    /*----------- OUTLOOK ---------------*/

    /* height controller */
    .outlookHeightFix {
      mso-line-height-alt:0;font-size:1px;line-height:0;
      p {
        mso-line-height-alt:0;font-size:1px;line-height:0 !important;
      }
    }

    /* line height with contained text fix */
    .outlookLineHeightFix {            
      p {
        line-height: 185%;
        mso-line-height-rule: exactly;
        mso-text-raise: -6px;
      }
      h1 {mso-line-height-alt: 120%;}
      h1.flexi-margin-bottom {                  
        mso-margin-bottom-alt: 10px;
      }
    }

    /* margin */
    .msoMarginTopFix {
      mso-margin-top-alt: $base-margin;
      Margin-top: $base-margin;
      margin-top: $base-margin;
    }
    .msoMarginBottomFix {
      mso-margin-bottom-alt: $base-margin;
      Margin-bottom: $base-margin;
      margin-bottom: $base-margin;
    }
    .msoMarginLeftFix {
      mso-margin-left-alt: $base-margin;
      Margin-left: $base-margin;
      margin-left: $base-margin;
    }
    .msoMarginRightFix {
      mso-margin-right-alt: $base-margin;
      Margin-right: $base-margin;
      margin-right: $base-margin;
    }

    /*image outlook collapse fixed*/
    .image-outlook-collapse-fix {border:1px solid #ffffff;}

    /*FLR -special-req*/
    .eot_bottomNumber_mobile_view {
      width:135px;
    }
	
    a img.flexi-no-margin {
      Margin:0;
      margin:0;
      padding:0;
    }

    /*Statement-templates*/
    .statement-margin-bottom{
      Margin-bottom:0px;
      margin-bottom:0px;
    }
    .statement-margin-bottom-last{
      Margin-bottom:5px;
      margin-bottom:5px;
    }
    .statement-margin-top{
      Margin-top:5px;
      margin-top:5px;
    }
    .statement-margin-left{
      Margin-left:5px * 2;
      margin-left:5px * 2;
    }
    table.statement-table tr th {
      border:1px solid #7d7d7d;
    }
    table.statement-table tr td p, table.statement-table tr th p {
      Margin:5px;
      margin:5px;
    }
    .statement-quaternary-bg-color{
      background-color:#cfcfcf;
    }

    /*Annual-templates*/
    table.annual-table tr th {
      border:0;
    }

    table.annual-table tr td p, table.annual-table tr th p {
      Margin:5px;
      margin:5px;
    }


    /*lombard overwride foundation*/
    .lombard-columns-left{
      padding-left:0; 
    }
    .lombard-columns-right {
      padding-right:0; 
    }
    table.row th.lombard-first.first {
      padding-right:0;
    }
    table.row th.lombard-last.last {
      padding-left:0;
    }
    table.row th.lombard-first, {
      padding-left:16px;
      padding-right:0;
    }  
    table.row th.lombard-last {
      padding-right:16px;
      padding-left:0;
    }

    /*warehouse border style*/
    $border: 1px solid #3d3d3d;

    .border {
      border: $border;
    }
    .border-ltr{
      border-left:$border;
      border-top:$border;
      border-right:$border;
    }
    td.border-top, th.border-top{
      border-top: $border;
    }
    td.border-left, th.border-left{
      border-left: $border;
    }
    td.border-bottom, th.border-bottom{
      border-bottom: $border;
    }
    td.border-right, th.border-right{
      border-right: $border;
    }
    .tbl-default-padd{
      padding: 4px 5px;
      p {margin:0 0 0 0 !important;Margin:0 0 0 0 !important;}
    }

    /*EOFY2017*/
    th.no-padding-right{
      padding-right:0 !important;
    }
    th.no-padding-left{
      padding-left:0 !important;
    }

    /* statement-templates */
    .smrtway-quaternary-color{color: $text-color;}
    .smrtway-quaternary-bg-color{background-color: #FFF8D7; }

    /*JC-special-request style*/
    .jc-outline-course {
      & {padding-left:0;Margin: 0;}
      > li {Margin-left:1.2em;}
      > li > ul{padding-left:0;Margin: 0;list-style-type:none;}
      > li > ul > li{Margin-bottom: 5px;Margin-left:.5em;}
    }

    .padding {
      & {padding:4px 5px;}
      p {margin:0;}
    }

    /*POS*/
    .border-right-pos {
      & {border-right:1px solid #CCCCCC;}
    }
    .border-bottom-pos {
      & {border-bottom:1px solid #CCCCCC;}
    }
    .border-left-pos {
      & {border-left:1px solid #CCCCCC;}
    }
    .border-top-pos {
      & {border-top:1px solid #CCCCCC;}
    }

    @if $flexi-brand == "RSM" {
      /*RSM*/
      $border: #e8e8e8;
      .border-right-pos {
        & {border-right:1px solid $border;}
      }
      .border-bottom-pos {
        & {border-bottom:1px solid $border;}
      }
      .border-left-pos {
        & {border-left:1px solid $border;}
      }
      .border-top-pos {
        & {border-top:1px solid $border;}

      }  
}

  /*Once mobile*/
  th.remove-padd-right {
    padding-right:0;
  }
  th.remove-padd-left {
    padding-left:0;
  }
.hide-desktop {
  display:none;
}
table.collapse th.padd-right.last {padding: 0 16px 0 0 !important;}
table.collapse th.padd-left.first {padding: 0 0 0 16px !important;}

table.lombard-bg {
  background-image: url("https://flxuat.credagility.com/fleximg/GetImage/images/LBD_E_Gradient.png");
  background-color: #FFFFFF;
  width:650px;
  background-repeat:no-repeat;
}

.lbd-icon {
 padding-right:5px; 
}
.lbd-description{
  font-size:10px;
  line-height:16px;
}
th.first-ldb-custom {
  padding-left:38px !important;
}
th.last-ldb-custom {
  padding-right:38px !important;
}
.lbd-head {
  width:185px;margin:0 auto;
}

 .custom-padd-left {
    padding-left:20px;
  }
  .custom-padd-right {
    padding-right:20px;
  }
th.custom-padd-left-banner.first{
  padding-left:36px;
}

td.lisa_first {
  padding-left: 16px;
}
td.lisa_last {
  padding-right: 16px;
}

@if $flexi-brand == "Lisa" {
	@font-face {
			font-family: Chapeau-Bold;
			src: url(https://flexipedia.com.au/fonts/Chapeau-Bold.woff) format('woff');
	}
	@font-face {
			font-family: Chapeau-Regular;
			src: url(https://flexipedia.com.au/fonts/Chapeau-Regular.otf);
	}
}


.bold {font-family:'Chapeau-Bold', 'Montserrat', 'Open Sans', 'Helvetica', sans-serif;font-weight:700;}

* {
   -webkit-hyphens: none !important;
      -moz-hyphens: none !important;
       -ms-hyphens: none !important;
           hyphens: none !important;
}


 h1.smw {
   font-family: 'urbane_rounded', Helvetica, sans-serirf;
   font-size: 25px;
   line-height: 1;
   margin-top: 10px;
   margin-bottom: 10px;
 }
p.font-small,
.font-small{
	color:#555555;
	font-size:10px;
	margin:0;
}
td.noborder-right{
	border-right:none;
}
td.noborder-left{
	border-left:none;
}
td.noborder-top{
		border-top: none;
}
td.noborder-bottom{
	border-bottom: none;
}
td.borderstrong{
	border-left: 3px solid #111;
	border-right: 3px solid #111;
	border-top: 3px solid #111;
	border-bottom: 3px solid #111;
}
td.custom-borderstrong{
	border-right: 3px solid #111;
	border-left: none;
	border-top: 3px solid #111;
	border-bottom: 3px solid #111;
}
td.borderbottom{
	border-bottom: 3px solid #111;
	border-right: none;
	border-left: none;
	border-top: none;
}

@media only screen {
  @if $flexi-brand == "SmartWay" {
  @font-face {
        font-family: 'urbane_rounded';
        src: url("https://flexipedia.com.au/fonts/device_-_urbane_rounded_bold-webfont.ttf");
        src: url("https://flexipedia.com.au/fonts/device_-_urbane_rounded_bold-webfont.eot?#iefix") format("embedded-opentype"), url("https://flexipedia.com.au/fonts/device_-_urbane_rounded_bold-webfont.woff2") format("woff2"), url("https://flexipedia.com.au/fonts/device_-_urbane_rounded_bold-webfont.woff") format("woff"), url("https://flexipedia.com.au/fonts/device_-_urbane_rounded_bold-webfont.ttf") format("truetype"), url("https://flexipedia.com.au/fonts/device_-_urbane_rounded_bold-webfont.svg#urbane_roundedbold") format("svg");
        font-style: normal;
      }
}
}