/*
mixin for layout
*/  
@mixin brand($primary-color, $primary-bg-color, $secondary-color){    
    .appleLinksPrimary-color a {color: $primary-color !important; text-decoration: none;}
    .appleLinksPrimary-bg-color{
      & {background: $primary-bg-color !important;}
      > p {color:#fff !important;text-decoration:none;}
      > p > a {color:#fff !important;text-decoration:none;}
      > p > font > a {color:#fff !important;text-decoration:none;}
    }
    .pos-border {
      > tbody > tr > td,  > tbody > tr > th {border:1px solid $secondary-color;}
    }
}