
<footer>
    <div class="footer">
      <div class="row">
        <div class="large-12 column text-center">
          <div>
            <div><img style="height: 65px;margin-bottom: 10px;" src="https://image.ibb.co/g0AV0Q/dm_dna_logo_rgb.png" /></div>
            <div>©2017 <strong>{{ site.title }}</strong></div>
            <p class="text">{{ site.description }}</p>          
          </div>
        </div>
      </div>
    </div>
  </footer>
    
<!-- 
    <script src="js/vendor/jquery.js"></script>
    <script src="js/vendor/what-input.js"></script>
    <script src="js/vendor/foundation.js"></script>
    <script src="js/app.js"></script> -->

