<header>
  <div class="header">
  <div class="head-wrap">
    <div class="row">
      <div class="medium-5 column">      
        <span><h5><strong><a class="site-title" href="{{ site.baseurl }}/"><img style="height: 85px;" src="https://image.ibb.co/g0AV0Q/dm_dna_logo_rgb.png" /></a></strong></h5></span> 
             
      </div>
      <div class="medium-4 column text-center">
        <span></span>
      </div>
      <div class="medium-3 column text-right">
        <span>
        {% for page in site.pages %}
          {% if page.title %}
          <p><a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></p>
          {% endif %}
        {% endfor %}
        </span>
      </div>
    </div>
    </div>
  </div>
</header>


  
