<!-- ++++++++++++++++  line-height.html  +++++++++++++++++ -->                     

{% if site.flexi-brand == 'SmartWay' %}                    
 <table>
   <tr>
      <th class="outlookHeightFix" height="3" style="mso-line-height-alt:0;line-height:0;"></th>                                </tr>
</table>
{% else if site.flexi-brand == 'Lombard' %}  
<table>
   <tr>
      <th class="outlookHeightFix" height="10" style="mso-line-height-alt:0;line-height:0;"></th>                              
   </tr>
</table>
{% else %} 
<table>
   <tr>
      <th class="outlookHeightFix" height="20" style="mso-line-height-alt:0;line-height:0;"></th>
   </tr>
</table>
{% endif %}