<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /><!--[if !mso]><!--><meta http-equiv="X-UA-Compatible" content="IE=edge" /><!--<![endif]--><!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
<title></title>
<style type="text/css">/*DEFAULT CSS*/
        table, td, div, p{margin: 0; padding: 0;}
        .cke_editable, body {
          color: #555555;
          font-family: arial, helvetica, sans-serif; 
          font-size:14px;
          line-height: 16px;
        }
        h1{font-size: 16px; margin: 0px;}
        h2{font-size: 14px; margin: 0px;}
        h3{font-size: 12px; margin: 0px;}
        page {
          background: white;
          display: block;
          margin: 0 auto;
          margin-bottom: 0.5cm;
          box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
        }
        p.page_break{ page-break-after: always !important;}
        @media print {
          body, page {
            margin: 0;
            box-shadow: 0;
          }
          p.page_break{ page-break-after: always !important;}
        }
    /*STRUCTURE*/
        .A4,
        page[size="A4"] {  
          width: 21cm;
          height: 29.7cm;
          background-color: #ffffff; 
          
        }
        .main {
            float:left;
            margin-top:.5cm; 
            margin-left:.5cm; 
            width: 20cm; 
        }
        .header {
            float: left; 
            width:20cm;  
            overflow: hidden;
        }
        .logo_left{
            float:left; 
            width:67%; 
            height:76px; 
            overflow: hidden;
        }       
        .logo_right{
            float:left; 
            height:78px; 
            width:33%;  
        }
        .details_left{
            float:left; 
            height:265px !important; 
            width:67%;  
        }
        .details_right{
            float:left; 
            height:263px!important ; 
            width:33%; 
        }
        .accnt_details{
            font-size: 14px; 
            line-height: 19.5px; 
            color: #555555; 
            padding: 10px; 
        }
        /*LETTER BODY*/
            .letter_body{
                float:left; 
                width:100%;  
            }
            .letter_body p{ 
                padding-bottom: 10px;
                font-size: 14px; 
            }
            .letter_body p.line-bottom{ 
                padding-bottom: 5px; 
                font-size: 14px;
            }
            table.tbl_inner{ 
                width: 100%; 
                font-size: 14px; 
                font-family: arial, helvetica, sans-serif;   
            }
            table.tbl_inner_border{ 
                width: 100%; 
                font-size: 14px; 
                font-family: arial, helvetica, sans-serif; 
                border-collapse: collapse; 
                border: solid 1px #cccccc; 
            }
            table.tbl_inner_border td{
               font-size: 14px; 
               font-family: arial, helvetica, sans-serif; 
               border-collapse: collapse; 
               border: solid 1px #cccccc; 
           }
    /*CUSTOM FORMATTING*/
        .bg-grey{
            background-color: #EBEBEB;
        }
        table.padding td{
            padding:5px;
        }
        td.paddingtb{
            padding-top: 5px; 
            padding-bottom: 5px;
        }
        .right{
            text-align: right;
        }
        .left{
            text-align: left;
        }
        .neg_margin {
            margin-bottom: -15px; 
            margin-left: -10px; 
        }      
        .bold{
            font-weight: bold;
        }        
        .underlined{
            text-decoration: underline;
        }
        ol li{
            font-size: 14px;
        }
        h1>sup, sup{
            font-size: 10px;
            margin:0;
        }
        .headertxt, td.headertxt, span.header{
            font-size: 16px;
        }
        .font_white{
            color:#ffffff;
        }
        td.bodytext, span.bodytext, .bodytext{
            font-size: 14px; 
            font-family: arial, helvetica, sans-serif; 
        }
        td.overflow_container{
            overflow: hidden;
        }
    /*Branding colors*/        
        .primary_color{
            color:#00a0df;
        }
        .secondary_color{
            color:#6f2c91;
        }
        .links ,a.links {
            color: #f6ad1d;
        }
        .text{
            color:#555555;
        }
        .primary_bkg{
            background-color:#00a0df;
        }       
    /*SPACING*/ 
       p.page1space img{ 
        margin-top:370px;
       }
       div.page2space{ 
        float: left; 
        height:760px; 
        width:100%;
       }
</style>
<!-- <page size="A4"> -->
<div class="A4">
<div class="main">
<div class="header">
<div class="logo_left"><img alt="" src="https://cmc.flexigroup.com.au/fleximg/GetImage/images/FLW_L_TOT2017.png" style="width: 400px; float: left;" /></div>

<div class="logo_right right">
<p><span class="primary_color headertxt">CUSTOMER TEAM</span> <span class="text headertxt">1800 001 952</span><br />
<span class="secondary_color" style="font-size: 20px; font-family: arial, helvetica, sans-serif;">flexiway.com.au</span></p>
</div>
</div>
<!-- [E] Header --><!-- [S] account details -->

<div class="details_left">&nbsp;</div>

<div class="details_right left">
<div class="primary_bkg font_white" style="padding-top:5px; padding-bottom:5px; padding-left:10px;">ACCOUNT DETAILS</div>

<div class="accnt_details bg-grey"><strong>Customer no:</strong><br />
${primaryEntityID}<br />
<strong>Agreement no:</strong><br />
${originalAccountNumber}<br />
<strong>Scheduled Agreement End Date:</strong><br />
${SchedEndDate}</div>
</div>
<!-- [E] account details -->

<div class="letter_body">
<p>${letterTodayDate}</p>

<p style="padding-top:14px;">Dear ${letterDisplayName},</p>

<p class="bold" style="padding-top:14px;">Tax Invoice<br />
<br />
Flexirent Capital Pty Ltd ABN 93 064 046 046</p>
Thank you for being a FlexiWay customer. Your Rental Agreement has been finalised.<br />
<br />
Flexirent Capital Pty Limited has transferred any interest it holds in the title of the goods, listed below, to you, without reservation.<br />
<br />
The goods are used and sold to you on a &ldquo;as is, where is, without faults if any&rdquo; basis. You have no more to pay to us for the goods and you now own them.<br />
&nbsp;
<p>Please contact us if you have any questions.<br />
<br />
Regards,<br />
<br />
FlexiWay Customer Team</p>

<p class="page1space"><img alt="" src="https://cmc.flexigroup.com.au/fleximg/GetImage/images/FLW_Line2017.png" style="width: 101%; height: 9px; " /></p>
</div>
<!-- [E] letter body -->

<table border="0" cellpadding="0" cellspacing="1" style="font-size: 12px; width: 100%;">
	<tbody>
		<tr>
			<td style="width: 70%; text-align: left; vertical-align: top; ">
			<div style=" font-size: 12px;">Flexirent Capital Pty Ltd ABN 93 064 046 046 is the lessor and holds Australian Credit Licence number 394735 (<strong>Flexirent</strong>). FlexiWay&reg; is a trademark of Flexirent. Flexirent is a subsidiary of FlexiGroup Limited. FLW_L_TOT_6aii</div>
			</td>
			<td style="width: 30%; text-align: center;" valign="top"><span style="font-size:20px;"><img alt="footer logo" src="https://cmc.flexigroup.com.au/fleximg/GetImage/images/FW_Logo.gif" style="width: 150px;" /></span></td>
		</tr>
	</tbody>
</table>
</div>
<!-- MAIN --></div>
<!--  [E] A4 page -->

<div class="A4">
<div class="main">
<div class="letter_body">
<table class="tbl_inner">
	<tbody>
		<tr>
			<td style="width: 70%; text-align: left; vertical-align: top;">&nbsp;</td>
			<td style="width: 30%; text-align: center;" valign="top"><img alt="footer logo" src="https://cmc.flexigroup.com.au/fleximg/GetImage/images/FW_Logo.gif" style="width: 150px;" /></td>
		</tr>
		<tr>
			<td colspan="2"><img alt="" src="https://cmc.flexigroup.com.au/fleximg/GetImage/images/FLW_Line2017.png" style="width: 100%; height: 9px; " /></td>
		</tr>
	</tbody>
</table>

<table class="tbl_inner">
	<tbody>
		<tr>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>Description of goods: Serial No.<br />
			<br />
			${assetsDetails}</td>
		</tr>
	</tbody>
</table>
</div>
<!-- [E] letter body --><!-- <div class="page2space">&nbsp;</div> --></div>
<!-- main --></div>
<!-- [e] A4 -->