--- 
file_name: 02_EOFY2017
category: Email-Projects
tags: [Special-request]
--- 
{% include brand-controller.html %} 
{% include variables.html %}




<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++  -->
<!-- ++++++++++++++++++++++  START HTML CODE ++++++++++++++++++++++++++++  -->
<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++  -->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">

<head>
  <!--[if gte mso 9]><xml>
 <o:OfficeDocumentSettings>
  <o:AllowPNG/>
  <o:PixelsPerInch>96</o:PixelsPerInch>
 </o:OfficeDocumentSettings>
</xml>
<![endif]-->

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width" />
  <!-- APPLE FIX -->
  <!-- <meta content="telephone=no" name="format-detection"> -->

  <title>{% case {{site.flexi-brand}} %} {% when 'FlexiCommercial' %} {{page.file_name | replace: "FLR", "FLC"}} {% when 'FlexiRent' %} {{page.file_name | replace: "FLR", "FLR"}} {% when 'FlexiWay' %} {{page.file_name | replace: "FLR", "FLW"}} {% when 'EziLease'
    %} {{page.file_name | replace: "FLR", "EZL"}} {% endcase %}</title>
  <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
  <table class="body" data-made-with-foundation>
    <tr>
      <td class="float-center" align="center" valign="top">
        <center>


          <table class="container">
            <tr>
              <td>               
                                

                <!-- BANNER -->
                                
                <table>
                                <tr>
                                  <th class="outlookHeightFix" height="4" style="mso-line-height-alt:0;"></th>                                  
                                </tr>
                    </table> 

                
                <table class="row">
                  <tr>
                    <th class="small-12 large-12 columns first last">
                      <table>
                        <tr>
                          <th>
                             <table bgcolor="#56C8DC" cellspacing="0" cellpadding="0" class="row collapse">
                              <tr>
                               
                                <img class="flexi-no-margin" width="650" src="https://dummyimage.com/650x250/000/fff">                             
                              </tr>
                            </table>
                          </th>   
                          <th class="expander"></th>
                        </tr>
                      </table>
                    </th>                    
                  </tr>
                </table>
            <!--BANNER -->
               
                
                {% include line-height.html %}
                
               

                <table class="row">
                  <tr>
                    <th class="small-12 large-6 columns first">
                     <!--COLUMN 1-->
                      <table bgcolor="#EBEBEB" height="280" class="row collapse">
                        <tr>
                          <th class="large-12 no-padding-left no-padding-right">
                            <table class="row">
                               <tr>
                                <th class="large-6 columns first">                           

                                 <img style="width:150px;height:150px;" class="flexi-no-margin" width="150" height="150" src="https://dummyimage.com/150x150/000/fff">
                                  
                                </th>
                                <th class="large-6 columns last">
                                  <table>
                                    <tr>
                                      <th height="150" style="height:150px;" class="quaternary-bg-color">
                                        <p style="margin-left:8px;Margin-left:8px;" class="flexi-margin">See you at <span><b>Venue 142</b></span> tonight!</p>

                                        <p style="margin-left:8px;Margin-left:8px;" class="flexi-margin">L Building | 142, Katipunan Ave. Quezon City, PH.
Gates open at 6PM</p>
                                        
                                         <p style="margin-left:8px;Margin-left:8px;" class="flexi-margin">Gates open at <b>6PM</b></p>
                                      </th>
                                    </tr>
                                  </table>
                                </th>
                              </tr>
                            </table>
                            <table>
                              <tr>
                                <th class="large-12 columns first last">
                                  <table>
                                    <tr>
                                      <th class="quaternary-bg-color">
                                        <p class="flexi-margin">Venue 142 is just right infront of Pan de Americana along Whiteplains-Katipunan. The event will be held on the roof deck of L Building. See you there!</p><br>
                                      </th>
                                    </tr>
                                  </table>
                                </th>
                              </tr>
                            </table>
                          </th>
                        </tr>
                      </table>
                      
                      
                    </th>
                    <th class="small-12 large-6 columns last no-padding-left">
                       <!--COLUMN 2-->
                      <table bgcolor="#EBEBEB" height="280" class="row collapse">
                        <tr>
                          <th class="large-12 no-padding-left no-padding-right">
                            <table class="row">
                               <tr>
                                <th class="large-6 columns first">                           

                                 <img style="width:150px;height:150px;" class="flexi-no-margin" width="150" height="150" src="https://dummyimage.com/150x150/000/fff">
                                </th>
                                <th class="large-6 columns last">
                                  <table>
                                    <tr>
                                      <th height="150" style="height:150px;" class="quaternary-bg-color">
                                        <p style="margin-left:8px;Margin-left:8px;" class="flexi-margin">USE UBER PROMO CODE</p>

                                          <p style="margin-left:8px;Margin-left:8px;"><span style="font-size:12px;"><b>FLEXIEOFYBBQEVENT</b></span></p>

                                          <p style="margin-left:8px;Margin-left:8px;">Key-in Venue 142 Events Place as your destination</p>
                                      </th>
                                    </tr>
                                  </table>
                                </th>
                              </tr>
                            </table>
                            <table>
                              <tr>
                                <th class="large-12 columns first last">
                                  <table>
                                    <tr>
                                      <th class="quaternary-bg-color">
                                        <p class="flexi-margin">Go from and to the event in style with FlexiGroup Custom Event Code. Each promo code entitles you to a PHP50 discount on 2 rides. Promo Code is limited to the first 251 redemptions so we encourage everyone to share a ride with other FlexiGroup staff when going to the event.</p>
                                      </th>
                                    </tr>
                                  </table>
                                </th>
                              </tr>
                            </table>
                          </th>
                        </tr>
                      </table>
                    </th>
                  </tr>
                </table>
                
                
                
                {% include line-height.html %}
                
                 <table class="row">
                  <tr>
                    <th class="small-12 large-12 columns first last">
                      <table>
                        <tr>
                          <th>
                             <table bgcolor="#56C8DC" cellspacing="0" cellpadding="0" class="row collapse">
                              <tr>
                                <th class="small-12 large-12 first columns">
                                 <img class="flexi-no-margin" width="650" src="https://dummyimage.com/650x100/000/fff">                             
                              </tr>
                            </table>
                          </th>   
                          <th class="expander"></th>
                        </tr>
                      </table>
                    </th>                    
                  </tr>
                </table>
                
                {% include line-height.html %}
            
                <table class="row">
                  <tr>
                    <th class="large-12 columns first last">
                      <table>
                        <tr>
                          <th class="quaternary-bg-color">
                            <p class="flexi-margin"><b>Quick and easy registration with your wristband! Head straight to the registration booth and get ready to party!</b></p>
                            
                            
                          </th>
                          <th class="expander"></th>
                        </tr>   
                      </table>
                    </th>
                  </tr>
                </table>
                
{% include line-height.html %}
                
                <table class="row">
                  <tr>
                    <th class="small-12 large-4 columns first no-padding-right">
                      <p class="no-margin"><img class="flexi-no-margin" width="216.6666666666667" src="https://dummyimage.com/325x150/000/fff"></p>   
                    </th>
                    <th class="small-12 large-4 columns no-padding-right no-padding-left">
                      <p class="no-margin"><img class="flexi-no-margin" width="216.6666666666667" src="https://dummyimage.com/325x150/000/fff"> </p>  
                    </th>
                    <th class="small-12 large-4 columns last no-padding-left">
                      <p class="no-margin"><img class="flexi-no-margin" width="216.6666666666667" src="https://dummyimage.com/325x150/000/fff"> </p>  
                    </th>
                  </tr>
                </table>
                
                
                <table class="row" cellspacing="0" cellpadding="0">
                  <tr>
                    <th class="small-12 large-6 cloumns first last">
                      <table cellspacing="0" cellpadding="0">
                        <tr>
                          <th><img style="width:650px;" class="flexi-no-margin" width="650" src="https://dummyimage.com/650x350/000/fff">   
                          </th>
                          <th class="expander"></th>
                        </tr>
                      </table>                     
                      
                    </th>
                   
                  </tr>
                </table>
                
                <table border="0" class="row" cellspacing="0" cellpadding="0">
                  <tr>
                    <th cellspacing="0" cellpadding="0" class="small-12 large-4 columns first no-padding-right">                                          <p class="no-margin"><img style="width:216.6666666666667px;height:150px;margin:0;display:block;" align="left" height="150" width="216.6666666666667" class="flexi-no-margin" src="https://dummyimage.com/216.6666666666667x150/000/fff" border="0">   
                      </p> </th>
                    <th border="0"  cellspacing="0" cellpadding="0" class="small-12 large-4 columns no-padding-right no-padding-left"><p class="no-margin"><img style="width:216.6666666666667px;height:150px;margin:0;display:block;" align="left" height="150" width="216.6666666666667" class="flexi-no-margin" src="https://dummyimage.com/216.6666666666667x150/000/fff" border="0">   </p></th>
                    <th border="0" cellspacing="0" cellpadding="0" class="small-12 large-4 columns last no-padding-left"><p class="no-margin"><img style="width:216.6666666666667px;height:150px;margin:0;display:block;" align="left" height="150" width="216.6666666666667"   class="flexi-no-margin" src="https://dummyimage.com/216.6666666666667x150/000/fff" border="0"></p></th>
                  </tr>
                </table>
                
                <table class="row" cellspacing="0" cellpadding="0">
                  <tr>
                    <th cellspacing="0" cellpadding="0" class="small-12 large-4 columns first no-padding-right">                    
                      <img style="width:216.6666666666667px;height:150px;margin:0;" align="left" height="150" width="216.6666666666667" class="flexi-no-margin" src="https://dummyimage.com/216.6666666666667x150/000/fff" border="0">   
                    </th>
                    <th cellspacing="0" cellpadding="0" class="small-12 large-4 columns no-padding-right no-padding-left"><img style="width:216.6666666666667px;height:150px;margin:0;" align="left" height="150" width="216.6666666666667" class="flexi-no-margin" src="https://dummyimage.com/216.6666666666667x150/000/fff" border="0">   </th>
                    <th cellspacing="0" cellpadding="0" class="small-12 large-4 columns last no-padding-left"><img style="width:216.6666666666667px;height:150px;margin:0;" align="left" height="150" width="216.6666666666667" class="flexi-no-margin" src="https://dummyimage.com/216.6666666666667x150/000/fff" border="0">   </th>
                  </tr>
                </table>
                

                 <table class="row" cellspacing="0" cellpadding="0">
                  <tr>
                    <th class="small-12 large-6 cloumns first last">
                      <table cellspacing="0" cellpadding="0">
                        <tr>
                          <th><img class="flexi-no-margin" width="650" style="width:650px;" src="https://dummyimage.com/350x150/000/fff">   
                          </th>
                          <th class="expander"></th>
                        </tr>
                      </table>                     
                      
                    </th>
                   
                  </tr>
                </table>
                
                
{% include line-height.html %}
                {% include line-height.html %}
                {% include line-height.html %}                

              </td>
              </tr>
          </table>
        </center>
      </td>
      </tr>
  </table>
</body>

</html>