--- 
file_name: ONC_E_CashbackUsage
category: Email-Projects
tags: [Special-request]
--- 

{% assign brand_name = "Once" %} 

{% if site.envi == "uat" %}
{% assign logo = {{site.envi_url_uat}} | append: "/fleximg/GetImage/images/OnceLogoTransparent.png" %}
{% assign login = {{site.envi_url_uat}} | append: "/fleximg/GetImage/images/Once%20Login%20Transparent.png" %}
{% assign contact_number = {{site.envi_url_uat}} | append: "/fleximg/GetImage/images/Once%20Phone%20Transparent.png" %}
{% assign tel = "13 6623" %}
{% assign line = {{site.envi_url_uat}} | append: "/fleximg/GetImage/images/Lombard_Rule.png" %}
{% assign start_survey = {{site.envi_url_uat}} | append: "/fleximg/GetImage/images/OnceStartSurveyTransparent.png" %}
{% assign my_acct_link = "https://oa.onceonline.com.au/" %}
{% assign banner_1_img = {{site.envi_url_uat}} | append: "/fleximg/GetImage/images/1608027-ONC-2.png" %}

{% else %}

{% assign logo = {{site.envi_url_prod}} | append: "/fleximg/GetImage/images/OnceLogoTransparent.png" %}
{% assign contact_number = {{site.envi_url_prod}} | append: "/fleximg/GetImage/images/v2Once_Phone_70px.png" %}
{% assign tel = "13 6623" %}
{% assign line = {{site.envi_url_prod}} | append: "/fleximg/GetImage/images/Lombard_Rule.png" %}
{% assign active_now = {{site.envi_url_prod}} | append: "/fleximg/GetImage/images/OnceActivateNowTransparent.png" %}
{% assign my_acct_link = "https://oa.onceonline.com.au/" %}
{% assign banner_1_img = {{site.envi_url_prod}} | append: "/fleximg/GetImage/images/Act_Agile_L.png" %}
{% assign banner_2_img = {{site.envi_url_prod}} | append: "/fleximg/GetImage/images/Act_Agile_R.png" %}
{% assign online_icon = {{site.envi_url_prod}} | append: "/fleximg/GetImage/images/1607003LB--web-bannerV3_10.png" %}
{% assign tel_icon = {{site.envi_url_prod}} | append: "/fleximg/GetImage/images/1607003LB--web-bannerV3_07.png" %}

{% endif %}


<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++  -->
<!-- ++++++++++++++++++++++  START HTML CODE ++++++++++++++++++++++++++++  -->
<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++  -->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">

<head>
  <!--[if gte mso 9]><xml>
 <o:OfficeDocumentSettings>
  <o:AllowPNG/>
  <o:PixelsPerInch>96</o:PixelsPerInch>
 </o:OfficeDocumentSettings>
</xml>
<![endif]-->

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width" />
  <!-- APPLE FIX -->
  <!-- <meta content="telephone=no" name="format-detection"> -->

  <title>{% case {{site.flexi-brand}} %} {% when 'FlexiCommercial' %} {{page.file_name | replace: "FLR", "FLC"}} {% when 'FlexiRent' %} {{page.file_name | replace: "FLR", "FLR"}} {% when 'FlexiWay' %} {{page.file_name | replace: "FLR", "FLW"}} {% when 'EziLease'
    %} {{page.file_name | replace: "FLR", "EZL"}} {% endcase %}</title>
  <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
  <table class="body" data-made-with-foundation>
    <tr>
      <td class="float-center" align="center" valign="top">
        <center>


          <table class="container">
            <tr>
              <td>               
                                

                <!-- HEADER -->
                <table class="row">
                  <tr>
                    <th class="small-12 large-7 columns first" valign="bottom">

                      <table>
                        <tr>
                          <th>


                           <img class="float-left small-float-center flexi-logo" src="{{ logo }}" />

                          </th>
                        </tr>
                      </table>

                    </th>
                    <th class="small-12 large-5 columns last" valign="bottom">

                      <table>
                        <tr>
                          <th>
                            <table>
                              <tr>
                                <td>
                                  <a target="_blank" href="{{my_acct_link}}"><img alt="Login" height="34" width="127" align="right" class="apply" style="display:inline;padding:0;clear:none;" src="{{ login }}" /></a>
                                </td>
                                <td>
                                  <a href="tel:{{ tel | remove: ' ' }}" title="tel:{{ tel | remove: ' ' }}"><img alt="Phone" height="34" width="127" align="right" class="float-right small-float-center top-icon my-acct" style="padding:0;clear:none;" src="{{ contact_number }}" /></a>
                                </td>
                              </tr>

                            </table>
                          </th>
                        </tr>
                      </table>


                    </th>
                  </tr>
                </table>
                
                <table>
                                <tr>
                                  <th class="outlookHeightFix" height="4" style="mso-line-height-alt:0;"></th>                                  
                                </tr>
                    </table> 

                
                <table class="row">
          <tbody>
            <tr>
              <th class="small-12 large-12 columns first last">
                <table>
                  <tr>
                    <th>
                      <center data-parsed="">
                        <img alt="5% CASH BACK" class="flexi-no-margin" width="100%" style="width:100%;margin: 0; padding: 0; border: none;" height="166" src="{{banner_1_img}}">
                      </center>
                    </th>
                    <th class="expander"></th>
                  </tr>
                </table>
              </th>
            </tr>
          </tbody>
        </table>                        
                
               
                
                {% include line-height.html %}
                
               

                <table class="row">
                  <tr>
                    <th class="small-12 large-12 columns first text-color custom-width">
                      
                            <table>
                              <tr>
                                <th>
                                  <p>Hello ${firstname},</p>
                                  
                                  <p><b>Don’t forget, you can get up to $100 cash back on your Once card!</b></p>
                                  
                                  <p class="appleLinksBlack">
                                    Spend on your Once card before 31 October 2016 and we’ll give you <b>5% cash back*</b> on purchases you make up to $2,000 in total. Offer is available for 3 months.
                                  </p>
                                  
                                  <p class="appleLinksBlack">Question? Call <b>13 6623</b> Monday to Friday between 9am and 8pm or Saturday to Sunday between 9am and 4pm (AEST).</p>
                                  
                                  <p>Kind regards,</p>
                                  
                                  <p class="no-margin-bottom"><b>Adam Frost</b></p>
                                  
                                  <p>Head of Cards</p>
                                  
                                </th>
                              </tr> 
                              <tr>
                                <td class="expander"></td>
                              </tr>
                            </table>                          
                    </th>                    
                  </tr>
                </table>
                <!-- /HEADER -->


                 <table>
                                <tr>
                                  <th class="outlookHeightFix" height="20" style="mso-line-height-alt:0;"></th>                                  
                                </tr>
                    </table>    

               



                <!-- Footer line -->
                <table class="row">
                  <tr>
                    <th class="small-12 large-12 columns first last">
                      <table>
                        <tr>
                          <th>
                            <center data-parsed="">
                              <img style="width:100%;" class="float-center" align="center" src="{{line}}" />
                            </center>
                          </th>
                          <th class="expander"></th>
                        </tr>
                      </table>
                    </th>
                  </tr>
                </table>
                <!-- /footer line-->

                <table class="row">
                  <tr>
                    <th class="columns large-12 first last">
                      <table>
                        <tr>
                          <td>
                            <div class="text-size-footer-flr text-color appleLinksBlack" style="line-height:19.5px;">

                              <!-- T&C -->
                              *5% cash back is available to existing eligible Once account holders by invitation only. If eligible, your account will be credited on a monthly basis; with 5% of the value of each card transaction (up to a maximum purchase amount of $2000 over a 3 month period) made using the Once card. The cash back will be automatically credited to your Once account and confirmed on your monthly account statement. Cash back excludes cash advances, Electronic Funds Transfer (EFT) and BPAY Online payments. To remain eligible for the cash back offer your Once account must be in good order at time of cash back and not in arrears or in default. Offer ends 31 October 2016. Offer must be validated by the end date to apply for a 3 month period. To validate the offer a transaction of any size needs to be made. Credit provided by Once Credit Pty Limited ABN 99 112 319 632, Australian Credit Licence number 386194 (<b>Once</b>). Once® is a trademark of Once. Once is a subsidiary of FlexiGroup Limited. 1608027ON<br />


                            </div>
                            <br>






                            <table>
                              <tr>
                                <td height="75px"></td>
                              </tr>
                            </table>
                          </td>


                          <td class="expander"></td>
                        </tr>
                      </table>
                    </th>
                  </tr>
                </table>

              </td>
              </tr>
          </table>

        </center>
      </td>
      </tr>
  </table>
</body>

</html>