---
file_name: RSM_E_EOT3BEFORE
category: Email-Projects
tag: Re-branding
---
{% include brand-controller.html %}
{% include variables.html %}

{% case {{site.flexi-brand}} %}
  {% when 'FlexiCommercial' %}
   {% assign color = "#CCCCCC" %} 
  {% when 'FlexiRent' %}
   {% assign color = "#00A3A1" %}
  {% when 'FlexiWay' %}
   {% assign color = "#f6ad1d" %}
  {% when 'EziLease' %}
   {% assign color = "#336699" %}
  {% when 'Lombard' %}
   {% assign color = "#F0575B" %}
 {% endcase %}

<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++  -->
<!-- ++++++++++++++++++++++  START HTML CODE ++++++++++++++++++++++++++++  -->
<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++  -->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
 xmlns:v="urn:schemas-microsoft-com:vml"
 xmlns:o="urn:schemas-microsoft-com:office:office">
<head>
<!--[if gte mso 9]><xml>
 <o:OfficeDocumentSettings>
  <o:AllowPNG/>
  <o:PixelsPerInch>96</o:PixelsPerInch>
 </o:OfficeDocumentSettings>
</xml>
<![endif]-->

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>{% case {{site.flexi-brand}} %}
                                            {% when 'FlexiCommercial' %}
                                            {{page.file_name | replace: "FLR", "FLC"}}
                                            {% when 'FlexiRent' %}
                                            {{page.file_name | replace: "FLR", "FLR"}}
                                            {% when 'FlexiWay' %}
                                            {{page.file_name | replace: "FLR", "FLW"}}
                                             {% when 'EziLease' %}
                                            {{page.file_name | replace: "FLR", "EZL"}}
                                        {% endcase %}</title>
  <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
  <table class="body" data-made-with-foundation>
    <tr>
      <td class="float-center" align="center" valign="top">
        <center>

                                    
              <table class="container">
                <tr>
                  <td>

                  <!-- HEADER -->
                    <table class="row">
                      <tr>
                        <th class="small-12 large-5 columns first">

                          <table class="row">
                            <tr>
                              <th class="small-6 large-6 columns first">                            
                                
                              <a title="tel:{{ tel | remove: ' ' }}" href="tel:{{ tel | remove: ' ' }}">
                                <img  class="small-float-center float-left flexi-logo" src="{{ tel_top_icon }}" /></a>                                   </th>
                              <th class="small-6 large-6 columns last">                        
                               <a target="_blank" href="{{ url }}">
                                <img  class="small-float-center float-left flexi-logo" src="{{ url_icon }}" /></a>                                       </th>
                            </tr>
                          </table>

                        </th>
                        <th class="small-12 large-7 columns last" valign="bottom">
 
                          <table>
                            <tr>
                              <th class="text-right">
<!--                                  <a target="_blank" href="{{ url }}"><img class="float-right small-float-center" src="{{ logo }}" /></a> -->
                              </th>
                            </tr>
                          </table>

                        </th>
                      </tr>
                    </table>

                    <table class="row">
                      <tr>
                        <th class="small-12 large-12 columns first last">
                          <table>
                            <tr>
                              <th>
                                <center data-parsed="">                            
                                    <img width="650" style="width:650px;" class="float-center" align="center" src="{{line}}" />
                                 </center>
                              </th>
                              <th class="expander"></th>
                            </tr>
                          </table>
                        </th>
                      </tr>
                    </table>

                    <table>
   <tr>
      <th class="outlookHeightFix" height="10" style="mso-line-height-alt:0;line-height:0;"></th>                              
   </tr>
</table>
                    
                    <table class="row">
                      <tr>
                        <th class="small-12 large-8 columns first">
                          <table>
                          <!--[if (gte mso 9) | (IE)]>
                           <tr>
                            <th height="15" style="mso-line-height-alt:0;"></th>
                           </tr>
                           <![endif]-->
                            <tr>
                              <th>
                                <!-- BANNER  #welcome #transfer #reminder #important #end_of_term -->
                                <img class="msoMarginTopFix float-left small-float-center flexi-margin-bottom" width="355" height="77" style="width:355px;height:77px;" src="{{important}}" />
                              </th>
                            </tr>
                          </table>
                        </th>
                        <th class="small-12 large-4 columns last" align="right">
                          <table>
                            <tr>
                              <th class="text-size text-color">
                                <table>
                                  <tr>
                                    <th class="primary-bg-color">
                                      <p class="flexi-margin" style="mso-line-height-alt:80%;">ACCOUNT DETAILS</p>
                                    </th>
                                  </tr>
                                </table>
                                <table>
                                  <tr>
                                    <th class="quaternary-bg-color">
                                      <p class="flexi-margin"><strong>Agreement Number:</strong><br />
                                        {{ContractID}}
                                      </p>
                                      <p class="flexi-margin"><strong>Scheduled Agreement End Date:</strong><br />
                                        {{SchedEndDate}} 
                                      </p>
                                    </th>
                                  </tr>
                                </table>
                              </th>
                            </tr>
                          </table>
                        </th>
                      </tr>
                    </table>                   
                    <!-- /HEADER -->


                    <table>
                      <tr>
                        <td height="40px"></td>
                      </tr>
                    </table>                 


                    <!--CONTENT-->
                      <table class="row">
                        <tr>
                          <th class="large-12 columns first last text-color text-size">

                            <table>
                              <tr>
                                <th class="justify outlookLineHeightFix">                                                                
                                  
                                  <p>Dear {{FirstName}},</p>

                                  <h1 class="flexi-margin-bottom"><strong>Choose an End of Term Option</strong></h1>

                                  <p>We hope that you are enjoying the goods that you rented from us.</p>

                                  <p>This is to let you know that your Rental Agreement {{ContractID}} will end on {{SchedEndDate}} and there are key decisions you need to make before the end of the rental term.</p>
                                  
<p>By the end of term, assuming that all monthly rental payments are made on the dates required, you will have paid a total of ${displayTotalBalanceDue}.</p>
                                                                                                     
                                  <h1 class="primary-color"><strong>The key decisions you need to make relate to:</strong></h1> 
                                  
                                   <table class="custom-margin-left" style="width:93.84615384615385%;">
                                    <tr>
                                      <td width="20"><p class="no-margin-bottom">1.</p></td>
                                      <td><p class="no-margin-bottom"><span class="secondary-color"><strong>What to do with the existing goods</strong></span> – would you like to return or offer to purchase the goods?</p></td>
                                    </tr>
                                    <tr>
                                      <td><p class="no-margin-bottom">2.</p></td>
                                      <td><p class="no-margin-bottom"><span class="secondary-color"><strong>Whether to upgrade to new goods</strong></span> – would you like to upgrade to the latest technology or a new model? We have special benefits if you choose this option.</p></td>
                                    </tr>                                    
                                  </table>                                  

                                  <table bgcolor="#EBEBEB">
                                        <tr>
                                          <th style="padding:10px;">
                                            <table>
                                              <tr>
                                                <td>
                                                  <h1 class="flexi-margin-bottom"><strong>END OF TERM OPTIONS</strong></h1>
                                                  
                                                  <h1 class="primary-color"><strong>Option 1 – Return the Goods:</strong></h1>
                                                  
                                                  <p>You can return the existing goods to us prior to {{SchedEndDate}} with no more rental payments. The goods must be returned in good working order, together with all accessories and manuals, at your own expense.</p>
                                                  
                                                  <p>
                                                    The goods can be returned to any of our warehouse locations listed in the table at the end of this email.
                                                  </p>
                                                  
                                                  <p>
                                                    Please ensure you label the goods with the following for easy identification:
                                                  </p>
                                                                                                   
                                                     {% include good-identification.html %}                                          
                                                  
                                                  <p>If the existing goods are not returned, or not under a new arrangement by {{SchedEndDate}} your Rental Agreement will continue on a month-to-month basis where you will continue to pay ${displayLastMonthlyPayment} per month until you return the goods or another end of term option is agreed.</p>
                                                  
                                                  <h1 class="primary-color"><strong>Option 2 – Offer to purchase the Goods:<sup>1</sup></strong></h1>
                                                  
                                                  <p>If you would like to own the existing goods, we would be pleased to negotiate a sale price with you. We estimate that the sale price of the existing goods would be approximately ${displayEOTHighRange} at the end of term. You will also need to pay any outstanding monthly rental payments or arrears.</p>
                                                  
                                                  <h1 class="primary-color"><strong>Option 3 – Upgrade:<sup>2</sup></strong></h1>
                                                  
                                                  <p class="no-margin-bottom">
                                                    You may want to upgrade to the latest technology or a new model. As a valued customer, we can make this process easy and fast as well as offer discounts on the existing goods. Call us for an approval.
If you upgrade to new goods and offer to purchase the existing goods, we can offer you a discounted price on the existing goods.<sup>3</sup>
                                                  </p>                                                                                           
                                                </td>
                                              </tr>
                                            </table>
                                          </th>
                                        </tr>                                        
                                      </table>
                                  
                                  <h1 class="primary-color flexi-margin-top"><strong>Don’t Forget to Contact Us</strong></h1>                     

                                  <p class="appleLinksBlack">If you require any clarification, or you would like to nominate any of the above options, please call our Customer Team on {{BrandPhoneNumber}} 7 days a week, prior to {{SchedEndDate}} which is the date of the end of term of your existing Agreement.</p>

                                  <p>We look forward to hearing from you.</p> 

                                  <p>Regards,</p>

                                  <p>{{brand_name}}  Customer Team</p>

                                 {% include warehouse-add.html %}
                                  
                                         {% include line-height.html %}     
                                  
                                 

                                </th>
                                <th class="expander"></th>
                              </tr>
                            </table>


                            
                   <table>
                      <tr>
                        <td height="90px"></td>
                      </tr>
                    </table>        

                            



                          </th>                          
                        </tr>
                      </table>
                    <!--/CONTENT-->

                    
                    
                    
                    
 
             
  
                     <!-- Footer line -->
                        <table class="row">
                          <tr>
                            <th class="small-12 large-12 columns first last">
                              <table>
                                <tr>
                                  <th>                                    
                                    <center data-parsed="">
                                     <img width="650" style="width:650px;" class="float-center" align="center" src="{{line}}" />
                                    </center>
                                  </th>
                                  <th class="expander"></th>
                                </tr>
                              </table>
                            </th>
                          </tr>
                        </table><!-- /footer line-->

                    <table>
   <tr>
      <th class="outlookHeightFix" height="10" style="mso-line-height-alt:0;line-height:0;"></th>                              
   </tr>
</table>
                    
                        <table class="row">
                              <tr>
                                <th class="columns large-12 first last">
                                  <table>
                                    <tr>
                                      <td><div class="text-size-footer text-color">
                                    
                                      <!-- T&C -->
                                       1 All upgrade and purchase options are subject to our agreement and our standard terms and conditions, and all upgrade options are also subject to any internal credit criteria.<br>
  2 Discounted purchase price only available to customers who upgrade and enter into a new rental agreement with <strong>{{brand_name}}</strong>.                                  
                           

                                        <p class="text-size-footer appleLinksBlack" style="Margin-top:10px;margin-top:10px;">Flexirent Capital Pty Ltd ABN 93 064 046 046 is the Lessor and holds Australian Credit Licence number 394735 (<b>Flexirent</b>). RentSmart® are trademarks of Flexirent. Flexirent is a subsidiary of FlexiGroup Limited.</p> 
                                        
                                      {% if site.envi == "uat" %}
                                        <p class="text-size-footer text-color"> {{page.file_name | replace: "FLR", "RSM"}}</p>
                                      {% elsif site.envi == "prod" %}
                                          <p class="text-size-footer text-color"></p>
                                      {% endif %}

                                      </div>
                                    
                                     
                                     
                                      </td>
                                      <td class="expander"></td>
                                    </tr>
                                  </table>
                                </th>
                              </tr>
                            </table>

                  </td>
                </tr>
              </table>     
          
        </center>
      </td>
    </tr>
  </table>
</body>
</html>




