---
file_name: E_EOT0_FMVWAIVER
category: Email-Projects
tag: Re-branding
---
{% include brand-controller.html %}
{% include variables.html %}

{% case {{site.flexi-brand}} %}
  {% when 'FlexiCommercial' %}
   {% assign color = "#CCCCCC" %} 
  {% when 'FlexiRent' %}
   {% assign color = "#00A3A1" %}
  {% when 'FlexiWay' %}
   {% assign color = "#f6ad1d" %}
  {% when 'EziLease' %}
   {% assign color = "#336699" %}
  {% when 'Lombard' %}
   {% assign color = "#F0575B" %}
 {% endcase %}

<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++  -->
<!-- ++++++++++++++++++++++  START HTML CODE ++++++++++++++++++++++++++++  -->
<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++  -->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
 xmlns:v="urn:schemas-microsoft-com:vml"
 xmlns:o="urn:schemas-microsoft-com:office:office">
<head>
<!--[if gte mso 9]><xml>
 <o:OfficeDocumentSettings>
  <o:AllowPNG/>
  <o:PixelsPerInch>96</o:PixelsPerInch>
 </o:OfficeDocumentSettings>
</xml>
<![endif]-->

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>{% case {{site.flexi-brand}} %}
                                            {% when 'FlexiCommercial' %}
                                            {{page.file_name | replace: "FLR", "FLC"}}
                                            {% when 'FlexiRent' %}
                                            {{page.file_name | replace: "FLR", "FLR"}}
                                            {% when 'FlexiWay' %}
                                            {{page.file_name | replace: "FLR", "FLW"}}
                                             {% when 'EziLease' %}
                                            {{page.file_name | replace: "FLR", "EZL"}}
                                        {% endcase %}</title>
  <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
  <table class="body" data-made-with-foundation>
    <tr>
      <td class="float-center" align="center" valign="top">
        <center>

                                    
              <table class="container">
                <tr>
                  <td>

                  <!-- HEADER -->
                    <table class="row">
                      <tr>
                        <th class="small-12 large-6 columns first">

                          <table>
                            <tr>
                              <th>                              
                                

                              <a target="_blank" href="{{ url }}"><img width="160" class="small-float-center float-left flexi-logo" src="{{ logo }}" /></a>                              
                              
                              </th>
                            </tr>
                          </table>

                        </th>
                        <th class="small-12 large-6 columns last" valign="bottom">

                          <table>
                            <tr>
                              <th class="text-right">
                                 <a title="tel:{{ tel | remove: ' ' }}" href="tel:{{ tel | remove: ' ' }}"><img class="float-right small-float-center" src="{{ tel_top_icon }}" /></a>
                              </th>
                            </tr>
                          </table>

                        </th>
                      </tr>
                    </table>

                    <table class="row">
                      <tr>
                        <th class="small-12 large-12 columns first last">
                          <table>
                            <tr>
                              <th>
                                <center data-parsed="">                            
                                    <img class="float-center" align="center" src="{{line}}" />
                                 </center>
                              </th>
                              <th class="expander"></th>
                            </tr>
                          </table>
                        </th>
                      </tr>
                    </table>

                    <table class="row">
                      <tr>
                        <th class="small-12 large-8 columns first">
                          <table>
                          <!--[if (gte mso 9) | (IE)]>
                           <tr>
                            <th height="15" style="mso-line-height-alt:0;"></th>
                           </tr>
                           <![endif]-->
                            <tr>
                              <th>
                                {% if site.flexi-brand == "SmartWay" %}
                                   <h1 class="primary-color no-margin-bottom smw"><strong>REMINDER:</strong> ELECT AN END OF TERM OPTION</h1>
                                {% else %}
                                  <!-- BANNER  #welcome #transfer #reminder #important #end_of_term #your_special_offer #reminder_an_elec -->
                                  <img width="350" style="width:350px;" class="msoMarginTopFix float-left small-float-center flexi-margin-bottom" src="{{reminder_an_elec}}" />
                                {% endif %}
                              </th>
                            </tr>
                          </table>
                        </th>
                        <th class="small-12 large-4 columns last" align="right">
                          <table>
                            <tr>
                              <th class="text-size text-color">
                                <table>
                                  <tr>
                                    <th class="primary-bg-color">
                                      <p class="flexi-margin" style="mso-line-height-alt:80%;">ACCOUNT DETAILS</p>
                                    </th>
                                  </tr>
                                </table>
                                <table>
                                  <tr>
                                    <th class="quaternary-bg-color">
                                      <p class="flexi-margin"><strong>Agreement Number:</strong><br />
                                        {{ContractID}}
                                      </p>
                                      <p class="flexi-margin"><strong>Agreement End Date:</strong><br />
                                        {{AgtEndDate}} 
                                      </p>
                                    </th>
                                  </tr>
                                </table>
                              </th>
                            </tr>
                          </table>
                        </th>
                      </tr>
                    </table>                   
                    <!-- /HEADER -->


                    <table>
                      <tr>
                        <td height="40px"></td>
                      </tr>
                    </table>                 


                    <!--CONTENT-->
                      <table class="row">
                        <tr>
                          <th class="large-12 columns first last text-color text-size">

                            <table>
                              <tr>
                                <th class="justify outlookLineHeightFix">
                                  
                                  <p>Dear {{FirstName}},</p>

                                  <p>Thank you for being a great {{brand_name}} customer over the last${eotLoanTermYears}.</p>

                                  <p>Your Rental Agreement ${originalAccountNumber} is coming to an end, but to date you have not let us know what you would like to do with the goods that you are renting. As a {{brand_name}} customer, you have a wide range of end of term options that may be available to you to suit your particular requirements:</p>
                                  
                                   <table bgcolor="#EBEBEB">
                                        <tr>
                                          <th style="padding:10px;">
                                            <table>
                                          <tr>
                                            <td valign="top"> 
                                            <p class="no-margin-bottom"><span class="primary-color"><strong>Upgrade to new goods</strong></span></p>
                                               </td>
                                          </tr> 
                                    <tr>
                                           <td valign="top">  
                                           <p class='custom-margin-bottom'>Take advantage of the opportunity to upgrade to new goods, subject to approval1. If you upgrade to new goods and offer to purchase the existing goods, <b><i>we will waive the purchase price of the existing goods</i><sup>2</sup>.</b></p>                                              
                                                                                      
                                              
                                            </td>
                                          </tr>
                                          <tr>
                                            <td valign="top"> 
                                            <p class="no-margin-bottom"><span class="primary-color"><strong>Offer to purchase the goods</strong></span></p>
                                               </td>
                                          </tr> 
                                    <tr>
                                           <td valign="top">  
                                           <p class='custom-margin-bottom'>Make us an offer to purchase the existing goods<sup>1</sup>.</p>                                              
                                                                                      
                                              
                                            </td>
                                          </tr> 
                                          <tr>
                                            <td valign="top"> 
                                            <p class="no-margin-bottom"><span class="primary-color"><strong>Return the goods</strong></span></p>
                                               </td>
                                          </tr> 
                                    <tr>
                                           <td valign="top">  
                                           <p class='custom-margin-bottom'>If you no longer want the existing goods, return them to us by ${displayEndDate} and incur no further monthly rental payments.</p>                                              
                                                                                      
                                              
                                            </td>
                                          </tr>
                                          <tr>
                                            <td valign="top"> 
                                            <p class="no-margin-bottom"><span class="primary-color"><strong>Double Time the goods</strong></span></p>
                                               </td>
                                          </tr> 
                                    <tr>
                                           <td valign="top">  
                                           <p class='no-margin-bottom'>You can double the length of your existing Rental Agreement by paying ${displayLastMonthlyPayment}.</p>                                              
                                           <p class='custom-margin-bottom'>You will continue to enjoy the benefits of the FlexiCare Program during the double time period<sup>3</sup>.</p>                                            
                                            <p class='custom-margin-bottom'>For more information on all our end of term options, visit 
                                            
                                            {% if site.flexi-brand == 'FlexiWay'  %}
                                              <a target="_blank" class="link-color" href="http://eoaclk.com/Yjr72eYFtZ/${originalAccountNumber}/">{{brand_name | downcase}}.com.au/eot</a>
                                            {% elsif site.flexi-brand == 'FlexiRent' %}
                                              <a target="_blank" class="link-color" href="http://eoaclk.com/dCuHZieMwb/${originalAccountNumber}/">{{brand_name | downcase}}.com.au/eot</a>
                                            {% elsif site.flexi-brand == 'SmartWay' %}
                                              <a target="_blank" class="link-color" href="http://eoaclk.com/2VA5S9wY4V/${originalAccountNumber}/">{{brand_name | downcase}}.com.au/eot</a>
                                            {% endif  %}
                                            
                                            </p>  
                                            </td>
                                          </tr>
                                        </table>
                                          </th>
                                        </tr>                                        
                                      </table>
                                      
                                      {%include line-height.html  %}
                                  
                                 <h1 class="primary-color flexi-margin-top"><strong>Don’t Forget to Contact Us</strong></h1>                      

                                  <p class="appleLinksBlack">The most important thing is to contact the {{brand_name}} Customer Team as soon as possible on {{BrandPhoneNumber}} 7 days a week to discuss and select your preferred option. Remember, if you do not return the goods or contact us to agree your end of term option before ${displayEndDate}, under your Rental Agreement, you will continue to be charged a monthly rental payment.</p>

                                  <p>We look forward to hearing from you.</p> 

                                  <p class="no-margin-bottom">Regards,</p>

                                  <p>{{brand_name}}  Customer Team</p>
                                  
                                  
                                  <table>
                                    <tr>
                                      <td height="30px"></td>
                                    </tr>
                                  </table>  
                                  
                                  
                                  <table>
                            <tr>
                              <th>
                                 <a title="tel:{{ tel | remove: ' ' }}" href="tel:{{ tel | remove: ' ' }}"><img class="small-float-center" src="{{ btn_footer_number }}" /></a>
                              </th>
                            </tr>
                          </table>
                                  

                                </th>
                                <th class="expander"></th>
                              </tr>
                            </table>

                            
                   <table>
                      <tr>
                        <td height="20px"></td>
                      </tr>
                    </table>        

                            



                          </th>                          
                        </tr>
                      </table>
                    <!--/CONTENT-->



                     <!-- Footer line -->
                        <table class="row">
                          <tr>
                            <th class="small-12 large-12 columns first last">
                              <table>
                                <tr>
                                  <th>
                                    <center data-parsed="">
                                     <img class="float-center" align="center" src="{{line}}" />
                                    </center>
                                  </th>
                                  <th class="expander"></th>
                                </tr>
                              </table>
                            </th>
                          </tr>
                        </table><!-- /footer line-->

                        <table class="row">
                              <tr>
                                <th class="columns large-12 first last">
                                  <table>
                                    <tr>
                                      <td><div class="text-size-footer text-color">
                                    
                                      <!-- T&C -->
                                       1 All upgrade, purchase and double time options are subject to our agreement and our standard terms and conditions, and all upgrade options are also subject to any internal credit criteria.<br>
                                       2 Waiver of purchase price only available to existing customers who upgrade and enter into a new rental agreement with {{brand_name}}. <br>
                                       3 Provided under the FlexiCare Program and subject to terms and conditions and important exclusions and limitations. Refer to product terms and conditions for a full list of such exclusions and limitations. FlexiCare Loaner dispatched within 1 business day subject to delivery to all Australian metro areas and request made during business hours.<br>
   


                                                                             
                                     

                                     <p class="text-size-footer appleLinksBlack" style="Margin-top:10px;margin-top:10px;">Flexirent Capital Pty Ltd ABN 93 064 046 046 is the financier and holds Australian Credit Licence number 394735 (<strong>Flexirent</strong>). {% case {{site.flexi-brand}} %}
                                            {% when 'FlexiCommercial' %}
                                              {{brand_name}}® is a trademark of Flexirent, 
                                            {% when 'FlexiRent' %}
                                              {{brand_name}}® is a trademark of Flexirent, 
                                            {% when 'FlexiWay' %}
                                              {{brand_name}}® is a trademark of Flexirent, 
                                       {% when 'SmartWay' %}
                                              {{brand_name}}® is a trademark of Flexirent, 
                                             {% when 'EziLease' %}                                              
                                        {% endcase %} a subsidiary of FlexiGroup Limited.</p>

                                      {% if site.envi == "uat" %}
                                        <p class="text-size-footer text-color">
                                        {% case {{site.flexi-brand}} %}
                                            {% when 'FlexiCommercial' %}
                                            {{page.file_name | replace: "FLR", "FLC"}}
                                            {% when 'FlexiRent' %}
                                            {{page.file_name | replace: "FLR", "FLR"}}
                                            {% when 'FlexiWay' %}
                                            {{page.file_name | replace: "FLR", "FLW"}}
                                             {% when 'EziLease' %}
                                            {{page.file_name | replace: "FLR", "EZL"}}
                                          {% when 'SmartWay' %}
                                            {{page.file_name | replace: "FLR", "SMW"}}
                                        {% endcase %}</p>                                      
                                      {% else if site.envi == "prod" %}
                                          <p class="text-size-footer text-color"></p>
                                      {% endif %}

                                      </div>
                                    
                                    {% include line-height.html  %}
                                    
                                    <div style="text-align: center;"><span style="font-size:11px;"><a href="mailto:customer.service@flexigroup.com.au?subject=${originalAccountNumber} Unsubscribe&amp;body=After sending this email, your account ${originalAccountNumber} will be unsubscribed from future email marketing campaigns. If you change your mind, you can always call the Customer Service Team on 1800 240 102 to change your preferences."><u>Unsubscribe</u></a></span></div>
                                     
                                      {% include line-height.html  %}
                                      </td>
                                      <td class="expander"></td>
                                    </tr>
                                  </table>
                                </th>
                              </tr>
                            </table>

                  </td>
                </tr>
              </table>     
          
        </center>
      </td>
    </tr>
  </table>
</body>
</html>




