---
file_name: E_EOT4M_FMVWAIVER
category: Email-Projects
tag: Re-branding
---
{% include brand-controller.html %}
{% include variables.html %}

{% case {{site.flexi-brand}} %}
  {% when 'FlexiCommercial' %}
   {% assign color = "#CCCCCC" %} 
  {% when 'FlexiRent' %}
   {% assign color = "#00A3A1" %}
  {% when 'FlexiWay' %}
   {% assign color = "#f6ad1d" %}
  {% when 'EziLease' %}
   {% assign color = "#336699" %}
  {% when 'Lombard' %}
   {% assign color = "#F0575B" %}
 {% endcase %}

<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++  -->
<!-- ++++++++++++++++++++++  START HTML CODE ++++++++++++++++++++++++++++  -->
<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++  -->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
 xmlns:v="urn:schemas-microsoft-com:vml"
 xmlns:o="urn:schemas-microsoft-com:office:office">
<head>
<!--[if gte mso 9]><xml>
 <o:OfficeDocumentSettings>
  <o:AllowPNG/>
  <o:PixelsPerInch>96</o:PixelsPerInch>
 </o:OfficeDocumentSettings>
</xml>
<![endif]-->

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>{% case {{site.flexi-brand}} %}
                                            {% when 'FlexiCommercial' %}
                                            {{page.file_name | replace: "FLR", "FLC"}}
                                            {% when 'FlexiRent' %}
                                            {{page.file_name | replace: "FLR", "FLR"}}
                                            {% when 'FlexiWay' %}
                                            {{page.file_name | replace: "FLR", "FLW"}}
                                             {% when 'EziLease' %}
                                            {{page.file_name | replace: "FLR", "EZL"}}
                                        {% endcase %}</title>
  <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
  <table class="body" data-made-with-foundation>
    <tr>
      <td class="float-center" align="center" valign="top">
        <center>

                                    
              <table class="container">
                <tr>
                  <td>

                  <!-- HEADER -->
                    <table class="row">
                      <tr>
                        <th class="small-12 large-6 columns first">

                          <table>
                            <tr>
                              <th>                              
                                

                              <a target="_blank" href="{{ url }}"><img class="small-float-center float-left flexi-logo" src="{{ logo }}" /></a>                              
                              
                              </th>
                            </tr>
                          </table>

                        </th>
                        <th class="small-12 large-6 columns last" valign="bottom">

                          <table>
                            <tr>
                              <th class="text-right">
                                 <a title="tel:{{ tel | remove: ' ' }}" href="tel:{{ tel | remove: ' ' }}"><img class="float-right small-float-center" src="{{ tel_top_icon }}" /></a>
                              </th>
                            </tr>
                          </table>

                        </th>
                      </tr>
                    </table>

                    <table class="row">
                      <tr>
                        <th class="small-12 large-12 columns first last">
                          <table>
                            <tr>
                              <th>
                                <center data-parsed="">                            
                                    <img class="float-center" align="center" src="{{line}}" />
                                 </center>
                              </th>
                              <th class="expander"></th>
                            </tr>
                          </table>
                        </th>
                      </tr>
                    </table>

                    <table class="row">
                      <tr>
                        <th class="small-12 large-8 columns first">
                          <table>
                          <!--[if (gte mso 9) | (IE)]>
                           <tr>
                            <th height="15" style="mso-line-height-alt:0;"></th>
                           </tr>
                           <![endif]-->
                            <tr>
                              <th>
                                
                                {% if site.flexi-brand == "SmartWay" %}
                                   <h1 class="primary-color no-margin-bottom smw"><strong>YOUR SPECIAL OFFER FOR YOUR EXISTING GOODS</strong></h1>
                                {% else %}
                                  <!-- BANNER  #welcome #transfer #reminder #important #end_of_term #your_special_offer #reminder_an_elec -->
                                  <img width="350" style="width:350px;" class="msoMarginTopFix float-left small-float-center flexi-margin-bottom" src="{{your_special_offer}}" />
                                {% endif %}
                                
                              </th>
                            </tr>
                          </table>
                        </th>
                        <th class="small-12 large-4 columns last" align="right">
                          <table>
                            <tr>
                              <th class="text-size text-color">
                                <table>
                                  <tr>
                                    <th class="primary-bg-color">
                                      <p class="flexi-margin" style="mso-line-height-alt:80%;">ACCOUNT DETAILS</p>
                                    </th>
                                  </tr>
                                </table>
                                <table>
                                  <tr>
                                    <th class="quaternary-bg-color">
                                      <p class="flexi-margin"><strong>Agreement Number:</strong><br />
                                        {{ContractID}}
                                      </p>
                                      <p class="flexi-margin"><strong>Agreement End Date:</strong><br />
                                        {{AgtEndDate}} 
                                      </p>
                                    </th>
                                  </tr>
                                </table>
                              </th>
                            </tr>
                          </table>
                        </th>
                      </tr>
                    </table>                   
                    <!-- /HEADER -->


                    <table>
                      <tr>
                        <td height="40px"></td>
                      </tr>
                    </table>                 


                    <!--CONTENT-->
                      <table class="row">
                        <tr>
                          <th class="large-12 columns first last text-color text-size">

                            <table>
                              <tr>
                                <th class="justify outlookLineHeightFix">
                                  
                                  <p>Dear {{FirstName}},</p>

                                  <p>Thanks for being a great {{brand_name}} customer.</p>

                                  <p>Your {{brand_name}} Agreement Number ${originalAccountNumber} is coming to an end on {{AgtEndDate}} and it is important for you to start thinking about what you would like to do with the goods you have been renting.</p>
                                  
                                   <table bgcolor="#EBEBEB">
                                        <tr>
                                          <th style="padding:10px;">
                                            <table>
                                          <tr>
                                            <td valign="top"> 
                                            <p><span class="primary-color"><strong>Upgrade To New Goods</strong></span></p>
                                               </td>
                                          </tr> 
                                    <tr>
                                           <td valign="top" colspan="2">  
                                            <p class='equipment-indent custom-margin-bottom'>If you're interested in upgrading<sup>1</sup> to new technology or a new model, take advantage of this special offer.</p>                                              
                                              <p class='equipment-indent no-margin-bottom'><span class="secondary-color"><b>If you upgrade<sup>1</sup> to new goods, we will WAIVE THE PURCHASE PRICE of the existing goods<sup>2</sup>, so please call us.</b></span></p>                                             
                                              
                                            </td>
                                          </tr>                                          
                                        </table>
                                          </th>
                                        </tr>                                        
                                      </table>
                                      
                                      {%include line-height.html  %}
                                  
                                  <p class="appleLinksBlack">You have a wide range of other End of Term options that may suit your particular requirements. We would like to discuss these options with you and help you decide on the best one for your situation.</p>
                                  
                                  <h1 class="primary-color flexi-margin-top"><strong>Don't Forget To Contact Us</strong></h1>                      

                                  <p class="appleLinksBlack">The most important thing is to contact the {{brand_name}} Customer Team as soon as possible on {{BrandPhoneNumber}}, 7 days a week to discuss and select your preferred option. We will send another reminder at least 90 days before your End of Term to discuss your range of End of Term options.</p>

                                  <p>We look forward to hearing from you.</p> 

                                  <p class="no-margin-bottom">Regards,</p>

                                  <p>{{brand_name}}  Customer Team</p>
                                  
                                  
                                  <table>
                                    <tr>
                                      <td height="30px"></td>
                                    </tr>
                                  </table>  
                                  
                                  
                                  <table>
                            <tr>
                              <th>
                                 <a title="tel:{{ tel | remove: ' ' }}" href="tel:{{ tel | remove: ' ' }}"><img class="small-float-center" src="{{ btn_footer_number }}" /></a>
                              </th>
                            </tr>
                          </table>
                                  

                                </th>
                                <th class="expander"></th>
                              </tr>
                            </table>

                            
                   <table>
                      <tr>
                        <td height="20px"></td>
                      </tr>
                    </table>        

                            



                          </th>                          
                        </tr>
                      </table>
                    <!--/CONTENT-->



                     <!-- Footer line -->
                        <table class="row">
                          <tr>
                            <th class="small-12 large-12 columns first last">
                              <table>
                                <tr>
                                  <th>
                                    <center data-parsed="">
                                     <img class="float-center" align="center" src="{{line}}" />
                                    </center>
                                  </th>
                                  <th class="expander"></th>
                                </tr>
                              </table>
                            </th>
                          </tr>
                        </table><!-- /footer line-->

                        <table class="row">
                              <tr>
                                <th class="columns large-12 first last">
                                  <table>
                                    <tr>
                                      <td><div class="text-size-footer text-color">
                                    
                                      <!-- T&C -->
                                       1 All upgrade options are subject to our agreement and credit approved applicants only; fees, terms and conditions apply.<br>
  2 Waiver of purchase price only available to existing customers who upgrade and enter into a new rental agreement with {{brand_name}}. <br>
   


                                                                             
                                     

                                     <p class="text-size-footer appleLinksBlack" style="Margin-top:10px;margin-top:10px;">Flexirent Capital Pty Ltd ABN 93 064 046 046 is the financier and holds Australian Credit Licence number 394735 (<strong>Flexirent</strong>). {% case {{site.flexi-brand}} %}
                                            {% when 'FlexiCommercial' %}
                                              {{brand_name}}® is a trademark of Flexirent, 
                                            {% when 'FlexiRent' %}
                                              {{brand_name}}® is a trademark of Flexirent, 
                                            {% when 'FlexiWay' %}
                                              {{brand_name}}® is a trademark of Flexirent, 
                                       {% when 'SmartWay' %}
                                              {{brand_name}}® is a trademark of Flexirent, 
                                             {% when 'EziLease' %}                                              
                                        {% endcase %} a subsidiary of FlexiGroup Limited.</p>

                                      {% if site.envi == "uat" %}
                                        <p class="text-size-footer text-color">
                                        {% case {{site.flexi-brand}} %}
                                            {% when 'FlexiCommercial' %}
                                            {{page.file_name | replace: "FLR", "FLC"}}
                                            {% when 'FlexiRent' %}
                                            {{page.file_name | replace: "FLR", "FLR"}}
                                            {% when 'FlexiWay' %}
                                            {{page.file_name | replace: "FLR", "FLW"}}
                                             {% when 'EziLease' %}
                                            {{page.file_name | replace: "FLR", "EZL"}}
                                          {% when 'SmartWay' %}
                                            {{page.file_name | replace: "FLR", "SMW"}}
                                        {% endcase %}</p>                                      
                                      {% else if site.envi == "prod" %}
                                          <p class="text-size-footer text-color"></p>
                                      {% endif %}

                                      </div>
                                    
                                    {% include line-height.html  %}
                                    
                                    <div style="text-align: center;"><span style="font-size:11px;"><a href="mailto:customer.service@flexigroup.com.au?subject=${originalAccountNumber} Unsubscribe&amp;body=After sending this email, your account ${originalAccountNumber} will be unsubscribed from future email marketing campaigns. If you change your mind, you can always call the Customer Service Team on 1800 240 102 to change your preferences."><u>Unsubscribe</u></a></span></div>
                                     
                                      {% include line-height.html  %}
                                      </td>
                                      <td class="expander"></td>
                                    </tr>
                                  </table>
                                </th>
                              </tr>
                            </table>

                  </td>
                </tr>
              </table>     
          
        </center>
      </td>
    </tr>
  </table>
</body>
</html>




