---
file_name: 01_FLR_E_Welcome_NewCustomer_OpsLease
category: Email-Projects
tags: [Re-branding]
tagsOn: Re-branding
---
{% include brand-controller.html %}
{% include variables.html %}

{% case {{site.flexi-brand}} %}
  {% when 'FlexiCommercial' %}
   {% assign color = "#3E6683" %} 
  {% when 'FlexiRent' %}
   {% assign color = "#00A0DF" %}
  {% when 'FlexiWay' %}
   {% assign color = "#6f2c91" %}
  {% when 'EziLease' %}
   {% assign color = "#336699" %}
  {% when 'Lombard' %}
   {% assign color = "#F0575B" %}
 {% endcase %}





<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++  -->
<!-- ++++++++++++++++++++++  START HTML CODE ++++++++++++++++++++++++++++  -->
<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++  -->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
 xmlns:v="urn:schemas-microsoft-com:vml"
 xmlns:o="urn:schemas-microsoft-com:office:office">
<head>
<!--[if gte mso 9]><xml>
 <o:OfficeDocumentSettings>
  <o:AllowPNG/>
  <o:PixelsPerInch>96</o:PixelsPerInch>
 </o:OfficeDocumentSettings>
</xml>
<![endif]-->

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>{% case {{site.flexi-brand}} %}
                                            {% when 'FlexiCommercial' %}
                                            {{page.file_name | replace: "FLR", "FLC"}}
                                            {% when 'FlexiRent' %}
                                            {{page.file_name | replace: "FLR", "FLR"}}
                                            {% when 'FlexiWay' %}
                                            {{page.file_name | replace: "FLR", "FLW"}}
                                             {% when 'EziLease' %}
                                            {{page.file_name | replace: "FLR", "EZL"}}
                                        {% endcase %}</title>
  <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
  <table class="body" data-made-with-foundation>
    <tr>
      <td class="float-center" align="center" valign="top">
        <center>

                                    
              <table class="container">
                <tr>
                  <td>

                  <!-- HEADER -->
                    <table class="row">
                      <tr>
                        <th class="small-12 large-6 columns first">

                          <table>
                            <tr>
                              <th>                              
                                

                              <a target="_blank" href="{{ url }}"><img class="small-float-center float-left flexi-logo" src="{{ logo }}" /></a>                              
                              
                              </th>
                            </tr>
                          </table>

                        </th>
                        <th class="small-12 large-6 columns last" valign="bottom">

                          <table>
                            <tr>
                              <th class="text-right">
                                 <a title="tel:{{ tel | remove: ' ' }}" href="tel:{{ tel | remove: ' ' }}"><img class="float-right small-float-center" src="{{ tel_top_icon }}" /></a>
                              </th>
                            </tr>
                          </table>

                        </th>
                      </tr>
                    </table>

                    <table class="row">
                      <tr>
                        <th class="small-12 large-12 columns first last">
                          <table>
                            <tr>
                              <th>
                                <center data-parsed="">                            
                                    <img class="float-center" align="center" src="{{line}}" />
                                 </center>
                              </th>
                              <th class="expander"></th>
                            </tr>
                          </table>
                        </th>
                      </tr>
                    </table>

                    <table class="row">
                      <tr>
                        <th class="small-12 large-8 columns first">
                          <table>
                           <!--[if (gte mso 9) | (IE)]>
                           <tr>
                            <th height="15" style="mso-line-height-alt:0;"></th>
                           </tr>
                           <![endif]-->
                            <tr>
                              <th>
                                <!-- BANNER  #welcome #transfer #reminder #important #end_of_term -->
                                <img class="msoMarginTopFix float-left small-float-center flexi-margin-bottom" src="{{welcome}}" />
                              </th>
                            </tr>
                          </table>
                        </th>
                        <th class="small-12 large-4 columns last" align="right">
                          <table>
                            <tr>
                              <th class="text-size text-color">
                                <table>
                                  <tr>
                                    <th class="primary-bg-color">
                                      <p class="flexi-margin" style="mso-line-height-alt:80%;">ACCOUNT DETAILS</p>
                                    </th>
                                  </tr>
                                </table>
                                <table>
                                  <tr>
                                    <th class="quaternary-bg-color">
                                      <p class="flexi-margin"><strong>Agreement Number:</strong><br />
                                        {{ContractID}}
                                      </p>
                                      <p class="flexi-margin"><strong>Scheduled Agreement End Date:</strong><br />
                                        {{SchedEndDate}} 
                                      </p>
                                    </th>
                                  </tr>
                                </table>
                              </th>
                            </tr>
                          </table>
                        </th>
                      </tr>
                    </table>                   
                    <!-- /HEADER -->


                    <table>
                      <tr>
                        <td height="40px"></td>
                      </tr>
                    </table>                 


                    <!--CONTENT-->
                      <table class="row">
                        <tr>
                          <th class="large-12 columns first last text-color text-size">

                            <table>
                              <tr>
                                <th class="justify outlookLineHeightFix">
                                  
                                  <p>{{LetterSentDate}}</p>                      

                                  <p>Dear {{FirstName}},</p>

                                  <h1 class="flexi-margin-bottom"><strong>Thank you for choosing {{brand_name}} to finance the Equipment</strong>
                                  </h1>

                                  <p>We’re delighted that you’ve chosen a {{brand_name}} Rental Agreement for your business equipment.</p>

                                  <h1 class="primary-color"><strong>Our priority</strong></h1> 

                                  <p>At Flexi we’re committed to helping Australian businesses grow and stay competitive by providing them with access to the latest technology. As a {{brand_name}} customer, you can expect to receive tailored offers, information on the latest product launches, valuable business content plus access to additional funds when you need to get new equipment to grow your business.<sup>1</sup></p>

                                  <p>To ensure you don’t miss any special customer promotions or important updates regarding your Rental Agreement, check that you have given us your correct email address by visiting: <a class="link-color" href="{{url}}" target="_blank"><font color="{{color}}">{{brand_name | downcase }}.com.au</font></a> and clicking on ‘My Account’.</p>

                                  <h1 class="primary-color"><strong>FlexiCare Program<sup>2</sup></strong></h1> 

                                  <p>If you have chosen to participate in the FlexiCare Program, this gives you (as applicable) <strong>FlexiCare Protect</strong> or <strong>FlexiCare Protect Platinum</strong> – which means we’ll repair or replace selected items that are stolen, accidentally lost or accidentally damaged in certain circumstances. If you have selected FlexiCare Protect Platinum you may also be entitled to be released from your Rental Agreement in certain circumstances.</p>

                                  <p>If you do not provide a Certificate of Currency of Insurance confirming that the Equipment is insured within thirty (30) days of the start date of your Rental Agreement, we may charge you a fee of 7% of the rental payment from the second rental payment onwards until the Certificate of Currency of Insurance is provided.<sup>3</sup> Where we charge this fee, you will automatically receive FlexiCare Protect for each payment period where that fee is paid.</p>
                                  
                                  <h1 class="primary-color"><strong>Rental Agreement benefits<sup>4</sup></strong></h1>

                                  <p class="no-margin-bottom">The benefits of your Rental Agreement may include:</p>

                                  <table class="custom-margin-left" style="width:93.84615384615385%;">
                                    <tr>
                                      <td width="20"><p class="no-margin-bottom">1.</p></td>
                                      <td><p class="no-margin-bottom"><span class="secondary-color"><strong>Potentially access a range of tax benefits:</strong></span> check with your tax advisor regarding what you can claim;</p></td>
                                    </tr>
                                    <tr>
                                      <td><p class="no-margin-bottom">2.</p></td>
                                      <td><p class="no-margin-bottom"><span class="secondary-color"><strong>Conserve cash flow:</strong></span> instalment payments free up your funds so you can keep your business moving, while potentially generating revenue from new equipment; and</p></td>
                                    </tr>
                                    <tr>
                                      <td><p>3.</p></td>
                                      <td><p><span class="secondary-color"><strong>Finance a wide range of equipment for your business:</strong></span> optimise the benefits by financing business equipment such as computers, telephony, point-of-sale equipment and furniture.</p></td>
                                    </tr>
                                  </table>

                                  <h1 class="primary-color"><strong>New equipment</strong></h1>

                                  <p>Should you require more equipment for your business, we would be pleased to help with the financing.<sup>5</sup></p>
                                  
                                  <h1 class="primary-color"><strong>Options at the scheduled end of your Rental Agreement<sup>6</sup></strong></h1>

                                  <p class="no-margin-bottom">Your options at the scheduled end of your Rental Agreement include:</p>

                                  <table class="custom-margin-left" style="width:93.84615384615385%;">
                                    <tr>
                                      <td width="20"><p class="no-margin-bottom">1.</p></td>
                                      <td><p class="no-margin-bottom"><span class="secondary-color"><strong>Purchase:</strong></span> you can make us an offer to purchase the Equipment;</p></td>
                                    </tr>
                                    <tr>
                                      <td><p class="no-margin-bottom">2.</p></td>
                                      <td><p class="no-margin-bottom"><span class="secondary-color"><strong>Return:</strong></span> you can return the Equipment to us with no more rental payments;</p></td>
                                    </tr>
                                    <tr>
                                      <td><p class="no-margin-bottom">3.</p></td>
                                      <td><p class="no-margin-bottom"><span class="secondary-color"><strong>Upgrade:</strong></span> if you would like to upgrade to new equipment at the end of your Rental Agreement, we may be able to provide a discount based on various factors including your loyalty to our business; or</p></td>
                                    </tr>
                                    <tr>
                                      <td><p>4.</p></td>
                                      <td><p><span class="secondary-color"><strong>Extend:</strong></span> you can request to extend the term of your Rental Agreement.</p></td>
                                    </tr>
                                  </table>

                                  <h1 class="primary-color"><strong>Contact us</strong></h1>                      

                                  
                                  <p class="appleLinksBlack">If you have any questions, please call our {{brand_name}} Customer Team on {{BrandPhoneNumber}}, 7 days a week, 9am – 6pm (AEST) or email us on <a class="link-color" href="mailto:customer.service@flexigroup.com.au"><font color="{{ color }}">customer.service@flexigroup.com.au</font></a>.</p>



                                  <p>We hope that we will help your business grow and we look forward to your continued success.</p> 

                                  <p>Regards,</p>

                                  <p>{{brand_name}} Customer Team</p>

                                  <p><a href="tel:{{ tel | remove: ' ' }}"><img title="tel:{{tel | remove: ' '}}" src="{{tel_bottom_icon}}" style="display:inline !important;"/></a></p>
                                 

                                </th>
                                <th class="expander"></th>
                              </tr>
                            </table>


                            
                   <table>
                      <tr>
                        <td height="90px"></td>
                      </tr>
                    </table>        

                            



                          </th>                          
                        </tr>
                      </table>
                    <!--/CONTENT-->



                     <!-- Footer line -->
                        <table class="row">
                          <tr>
                            <th class="small-12 large-12 columns first last">
                              <table>
                                <tr>
                                  <th>
                                    <center data-parsed="">
                                     <img class="float-center" align="center" src="{{line}}" />
                                    </center>
                                  </th>
                                  <th class="expander"></th>
                                </tr>
                              </table>
                            </th>
                          </tr>
                        </table><!-- /footer line-->

                        <table class="row">
                              <tr>
                                <th class="columns large-12 first last">
                                  <table>
                                    <tr>
                                      <td><div class="text-size-footer text-color">
                                    
                                      <!-- T&C -->
                                      1 Subject to suitability assessment and credit approved applicants only; fees, terms and conditions apply.<br />
                                      2 Subject to terms and conditions. Refer to the terms and conditions for more information and a full list of exclusions.<br />
                                      3 Unless you have chosen to participate in the FlexiCare Program.<br />
                                      4 Seek your own independent legal, tax, accounting and/or financial advice.<br />
                                      5 Subject to suitability assessment and credit approved applicants only; fees, terms and conditions apply.<br />
                                      6 All options are subject to our agreement and standard terms and conditions. Upgrade and Extend options are subject to suitability assessment and credit approved applicants only; in all cases fees, terms and conditions may apply. <br />
                                       
                                     

                                      <p class="text-size-footer appleLinksBlack" style="Margin-top:10px;margin-top:10px;">Flexirent Capital Pty Ltd ABN 93 064 046 046 is the lessor and holds Australian Credit Licence number 394735 (<strong>Flexirent</strong>). {% case {{site.flexi-brand}} %}
                                            {% when 'FlexiCommercial' %}
                                              {{brand_name}}® is a trademark of Flexirent. 
                                            {% when 'FlexiRent' %}
                                              {{brand_name}}® is a trademark of Flexirent. 
                                            {% when 'FlexiWay' %}
                                              {{brand_name}}® is a trademark of Flexirent. 
                                             {% when 'EziLease' %}                                              
                                        {% endcase %}                                    
                                      
                                      Flexirent is a subsidiary of FlexiGroup Limited.</p>

                                      {% if site.envi == "uat" %}
                                        <p class="text-size-footer text-color">
                                        {% case {{site.flexi-brand}} %}
                                            {% when 'FlexiCommercial' %}
                                            {{page.file_name | replace: "FLR", "FLC"}}
                                            {% when 'FlexiRent' %}
                                            {{page.file_name | replace: "FLR", "FLR"}}
                                            {% when 'FlexiWay' %}
                                            {{page.file_name | replace: "FLR", "FLW"}}
                                             {% when 'EziLease' %}
                                            {{page.file_name | replace: "FLR", "EZL"}}
                                        {% endcase %}</p>                                      
                                      {% else if site.envi == "prod" %}
                                          <p class="text-size-footer text-color"></p>
                                      {% endif %}

                                      </div>
                                    
                                     
                                     
                                      </td>
                                      <td class="expander"></td>
                                    </tr>
                                  </table>
                                </th>
                              </tr>
                            </table>

                  </td>
                </tr>
              </table>     
          
        </center>
      </td>
    </tr>
  </table>
</body>
</html>




