--- 
file_name: LBD_E_ValueProp
category: Email-Projects
tags: [All Lombard eDMs to be Mobile Responsive]
--- 
{% include brand-controller.html %} 
{% include variables.html %}




<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++  -->
<!-- ++++++++++++++++++++++  START HTML CODE ++++++++++++++++++++++++++++  -->
<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++  -->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">

<head>
  <!--[if gte mso 9]><xml>
 <o:OfficeDocumentSettings>
  <o:AllowPNG/>
  <o:PixelsPerInch>96</o:PixelsPerInch>
 </o:OfficeDocumentSettings>
</xml>
<![endif]-->

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width" />
  <!-- APPLE FIX -->
  <!-- <meta content="telephone=no" name="format-detection"> -->

  <title>{% case {{site.flexi-brand}} %} {% when 'FlexiCommercial' %} {{page.file_name | replace: "FLR", "FLC"}} {% when 'FlexiRent' %} {{page.file_name | replace: "FLR", "FLR"}} {% when 'FlexiWay' %} {{page.file_name | replace: "FLR", "FLW"}} {% when 'EziLease'
    %} {{page.file_name | replace: "FLR", "EZL"}} {% endcase %}</title>
  <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
  <table class="body" data-made-with-foundation>
    <tr>
      <td class="float-center" align="center" valign="top">
        <center>


          <table class="container">
            <tr>
              <td>               
                                

                <!-- HEADER -->
                <table class="row">
                  <tr>
                    <th class="small-12 large-7 columns first" valign="bottom">

                      <table>
                        <tr>
                          <th>


                            <a target="_blank" href="{{ url }}"><img class="float-left small-float-center flexi-logo" src="{{ logo }}" /></a>

                          </th>
                        </tr>
                      </table>

                    </th>
                    <th class="small-12 large-5 columns last" valign="bottom">

                      <table>
                        <tr>
                          <th>
                            <table>
                              <tr>
                                <td>
                                  <a target="_blank" alt="" href="https://www.lombardfinance.com.au/OnlineAccess/login.aspx"><img height="35" width="127" align="right" class="apply" style="display:inline;padding:0;clear:none;width:127px;" src="https://cmc.flexigroup.com.au/fleximg/GetImage/images/LombardLoginTransparent.png" /></a>
                                </td>
                                <td>
                                  <a title="tel:{{ tel | remove: ' ' }}" href="tel:{{ tel | remove: ' ' }}"><img height="35" width="127" align="right" class="float-right small-float-center top-icon my-acct" style="padding:0;clear:none;width:127px;" src="https://cmc.flexigroup.com.au/fleximg/GetImage/images/LombardCallUsTransparent.png" /></a>
                                </td>
                              </tr>

                            </table>
                          </th>
                        </tr>
                      </table>


                    </th>
                  </tr>
                </table>
                
                <table>
                                <tr>
                                  <th class="outlookHeightFix" height="10" style="mso-line-height-alt:0;"></th>                                  
                                </tr>
                    </table> 

                
                
                      
                            <table class="row">
                              <tr>
                                <th class="small-12 large-12 first last columns">
                                  <table style="width:100%;">
                                      <tr>
                                        <th>
                                  <a href="https://www.lombardfinance.com.au/OnlineAccess/login.aspx" target="_blank" alt="">
                                    <img width="650" style="width:650;" width="650" class="float-center lombard-banner" align="center" src="https://cmc.flexigroup.com.au/fleximg/GetImage/images/v2%20VauleProp_Banner_LOM2.png" /></a>
                                   
                                        </th>
                                        <th class="expander"></th>
                                    </tr>
                                  </table>
                                </th>
                                
                              </tr>
                           </table>
                          
                 
                
               
                
                {% include line-height.html %}
                
               

                <table class="row">
                  <tr>
                    <th class="small-12 large-8 columns first text-color custom-width text-size">
                      
                            <table>
                              <tr>
                                <th>
                                  <p>Dear ${firstName},</p>
                                  
                                  <p>Love to shop? Your Lombard 180 card gives you <b>0% p.a. for 6 months on every card purchase of $250 or more*</b></p>
                                  
                                  <p>Whether it's your weekly <b>grocery</b> shopping, paying the <b>insurance</b> bill, <b>refurnishing</b> your home or booking a <b>holiday</b>, use your Lombard 180 Visa card and you have the comfort of paying off each purchase of $250 or more over 6 months - Interest Free!</p>
                                  
                                   <p>Plus, you also get up to 55 days Interest Free on all other purchases less than $250*.</p>
                                  
                                  <p>All you have to do is use your card to enjoy the benefits of Interest Free spending.</p>
                                  
                                  <table>
                                <tr>
                                  <th class="outlookHeightFix" height="15" style="mso-line-height-alt:0;"></th>                                
                                </tr>
                    </table>
                                  
                                  <p><a href="https://www.lombardfinance.com.au/OnlineAccess/login.aspx" target="_blank"><img src="https://cmc.flexigroup.com.au/fleximg/GetImage/images/LombardActivateNowTransparent.png" width="133" style="display:inline !important;width:133;"/></a></p>
                                  
                                  <table>
                                <tr>
                                  <th class="outlookHeightFix" height="15" style="mso-line-height-alt:0;"></th>                                
                                </tr>
                    </table>
                                  
                                
                                   
                                  
                                
                           
                                  
                                 
                                  
                                </th>
                              </tr>                                
                            </table>
                          
                    </th>
                    <th class="small-12 large-4 columns last text-size">
                          <table>
                              <tr>
                                  <th class="text-color">
                                    
                                    <table>
                                      <tr>
                                          <td style="border:3px solid #ebebeb;">
                                            {% include line-height.html %}
                                            <h1 style="width:85%;margin:0 auto;" class="primary-color text-center"><b><span style="font-size:14px;">If you haven't activated your card yet...</span></b></h1>
                                            {% include line-height.html %}
                                    
                                      <p class="text-center no-margin-bottom"><img src="https://cmc.flexigroup.com.au/fleximg/GetImage/images/v2%20Online_Icon_LB.png" width="44" style="display:inline !important;width:44;"/> </p>
                                    
                                    <p style="font-size:14px;" class="text-center"><span><a class="link-color"><b><font color="#F0575B">Online</font></b></a></span></p>
                                            
                                        
                                        <table class="lombard-custom-margin-left" style="width:75%;">
                                          <tr>
                                            <td width="20"><p class="no-margin-bottom">1.</p></td>
                                            <td><p class="no-margin-bottom"><strong><a href="https://www.lombardfinance.com.au/OnlineAccess/login.aspx" target="_blank" alt=""><span class="link-color"><font color="#F0575B">Log in</font></span></a></strong> using your Customer ID and Password</p></td>
                                          </tr>
                                          <tr>
                                            <td><p class="no-margin-bottom">2.</p></td>
                                            <td><p class="no-margin-bottom">Select 'Activate card'</p></td>
                                          </tr>                                          
                                        </table>
                                    
                                            <table>
                                <tr>
                                  <th class="outlookHeightFix" height="15" style="mso-line-height-alt:0;"></th>                                
                                </tr>
                    </table>
                                            
                                    <p class="text-center no-margin-bottom"><img src="https://cmc.flexigroup.com.au/fleximg/GetImage/images/v2%20Call_Icon_LB.png" width="44" style="display:inline !important;width:44;"/> </p>
                                    
                                    <p style="font-size:14px;" class="text-center"><span><a class="link-color"><b><font color="#F0575B">Call 13 55 23</font></b></a></span></p>                                   
                                    <p style="width:85%;margin:0 auto;" class="text-center appleLinksBlack">Weekdays 9am - 8pm or Weekends 9am - 4pm (AEST)</p> 
                                            {% include line-height.html %}
                                          </td>
                                      </tr>
                                    </table>
                                         
                                    
                                    
                                    
                                    
                                  </th>
                                <th class="expander"></th>
                              </tr>  
                          </table>
                    </th>
                  </tr>
                </table>
                
                <table>
                                <tr>
                                  <th class="outlookHeightFix" height="10" style="mso-line-height-alt:0;"></th>                                
                                </tr>
                    </table>
                
                <table class="row">
                  <tr>
                    <th class="small-12 large-8 columns first text-color custom-width text-size">
                      <table>
                        <tr>
                          <td>
                            
                          
                            
                               <p>If you have any questions call us.</p>
                                  
                               <p>Kind regards,</p>
                                  
                                  <table>
                                <tr>
                                  <th class="outlookHeightFix" height="15" style="mso-line-height-alt:0;"></th>                                
                                </tr>
                    </table>
                                  
                                  <p class="no-margin-bottom" style="line-height:80%;">Adam Frost</p>
                                  
                                  <p>Head of Cards</p>
                          </td>
                        </tr>
                      </table>
                    </th>
                    <th class="small-12 large-4 columns last text-size">
                      <table>
                        <tr>
                          <td>
                              <table class="acc-dtls">
                                            <tr>
                                              <th class="quaternary-bg-color">
                                                <p class="flexi-margin no-margin-bottom secondary-color text-size-account-details text-size"><span class="primary-color" style="font-size:14px;"><strong>ACCOUNT DETAILS</strong></span></p>
                                                  <XXX>
                                                    <p class="flexi-margin-left no-margin-bottom"><strong>Account Number:</strong> ${originalAccountNumber}

                                                    </p>
                                                    <p class="flexi-margin-left"><strong>Customer ID:</strong> ${borrowerCustomerId}

                                                    </p>                                                

                                              </th>
                                                <th class="expander"></th>
                                            </tr>
                                          </table>
                          </td>
                        </tr>                        
                      </table>
                    </th>
                  </tr>
                </table>
                
              


                 <table>
                                <tr>
                                  <th class="outlookHeightFix" height="5" style="mso-line-height-alt:0;"></th>                                  
                                </tr>
                    </table>    

               



                <!-- Footer line -->
                <table class="row">
                  <tr>
                    <th class="small-12 large-12 columns first last">
                      <table>
                        <tr>
                          <th>
                            <center data-parsed="">
                              <img style="width:100%;" class="float-center" align="center" src="{{line}}" />
                            </center>
                          </th>
                          <th class="expander"></th>
                        </tr>
                      </table>
                    </th>
                  </tr>
                </table>
                <!-- /footer line-->

                <table class="row">
                  <tr>
                    <th class="columns large-12 first last">
                      <table>
                        <tr>
                          <td>
                            <div class="text-size-footer-flr text-color appleLinksBlack">

                              <!-- T&C -->
                              * 6 months Interest Free is available on single card purchases of $250 or more. The Interest Free period commences from the date of purchase. Up to 55 days Interest Free is available on all card purchases under $250 (excluding cash withdrawals), when you pay by the payment due date, the amount identified on your statement as the 'optional repayment to qualify for up to 55 days Interest Free on purchases'. Interest is payable on any balance outstanding after the Interest Free period at the standard Annual Percentage Rate of 22.99% p.a. Credit approved applicants only; fees, terms and conditions apply. Credit provided by Lombard Finance Pty Ltd ABN 31 099 651 877 Australian Credit Licence number 247415 (<b>Lombard</b>). Lombard® is a trademark of Lombard. Lombard is a subsidiary of FlexiGroup Limited.<br />

<br>
                              
                              <p style="text-align: center;"><span style="font-size:11px;"><a href="mailto:customerservice.cards@flexigroup.com.au?subject=${originalAccountNumber} Unsubscribe&amp;body=After sending this email, your account ${originalAccountNumber} will be unsubscribed from future email marketing campaigns. If you change your mind, you can always call the Customer Service Team on 1300 132 301 to change your preferences."><font color="#F0575B">Unsubscribe</font></a></span></p>
                              
                            </div>
                            <br>






                            <table>
                              <tr>
                                <td height="75px"></td>
                              </tr>
                            </table>
                          </td>


                          <td class="expander"></td>
                        </tr>
                      </table>
                    </th>
                  </tr>
                </table>

              </td>
              </tr>
          </table>

        </center>
      </td>
      </tr>
  </table>
</body>

</html>