--- 
file_name: ONC_E_ActivateCard_55Day
category: Email-Projects
tags: [Special-request]
--- 

{% assign brand_name = "Once" %} 

{% if site.envi == "uat" %}
{% assign logo = {{site.envi_url_uat}} | append: "/fleximg/GetImage/images/OnceLogoTransparent.png" %}
{% assign contact_number = {{site.envi_url_uat}} | append: "/fleximg/GetImage/images/v2Once_Phone_70px.png" %}
{% assign tel = "13 6623" %}
{% assign line = {{site.envi_url_uat}} | append: "/fleximg/GetImage/images/Lombard_Rule.png" %}
{% assign active_now = {{site.envi_url_uat}} | append: "/fleximg/GetImage/images/OnceActivateNowTransparent.png" %}
{% assign my_acct_link = "https://oa.onceonline.com.au/" %}
{% assign banner_1_img = {{site.envi_url_uat}} | append: "/fleximg/GetImage/images/Act_55_L.png" %}
{% assign banner_2_img = {{site.envi_url_uat}} | append: "/fleximg/GetImage/images/Act_55_R.png" %}
{% assign online_icon = {{site.envi_url_uat}} | append: "/fleximg/GetImage/images/1607003LB--web-bannerV3_10.png" %}
{% assign tel_icon = {{site.envi_url_uat}} | append: "/fleximg/GetImage/images/1607003LB--web-bannerV3_07.png" %}


{% else %}

{% assign logo = {{site.envi_url_prod}} | append: "/fleximg/GetImage/images/OnceLogoTransparent.png" %}
{% assign contact_number = {{site.envi_url_prod}} | append: "/fleximg/GetImage/images/v2Once_Phone_70px.png" %}
{% assign tel = "13 6623" %}
{% assign line = {{site.envi_url_prod}} | append: "/fleximg/GetImage/images/Lombard_Rule.png" %}
{% assign active_now = {{site.envi_url_prod}} | append: "/fleximg/GetImage/images/OnceActivateNowTransparent.png" %}
{% assign my_acct_link = "https://oa.onceonline.com.au/" %}
{% assign banner_1_img = {{site.envi_url_prod}} | append: "/fleximg/GetImage/images/Act_Agile_L.png" %}
{% assign banner_2_img = {{site.envi_url_prod}} | append: "/fleximg/GetImage/images/Act_Agile_R.png" %}
{% assign online_icon = {{site.envi_url_prod}} | append: "/fleximg/GetImage/images/1607003LB--web-bannerV3_10.png" %}
{% assign tel_icon = {{site.envi_url_prod}} | append: "/fleximg/GetImage/images/1607003LB--web-bannerV3_07.png" %}

{% endif %}


<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++  -->
<!-- ++++++++++++++++++++++  START HTML CODE ++++++++++++++++++++++++++++  -->
<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++  -->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">

<head>
  <!--[if gte mso 9]><xml>
 <o:OfficeDocumentSettings>
  <o:AllowPNG/>
  <o:PixelsPerInch>96</o:PixelsPerInch>
 </o:OfficeDocumentSettings>
</xml>
<![endif]-->

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width" />
  <!-- APPLE FIX -->
  <!-- <meta content="telephone=no" name="format-detection"> -->

  <title>{% case {{site.flexi-brand}} %} {% when 'FlexiCommercial' %} {{page.file_name | replace: "FLR", "FLC"}} {% when 'FlexiRent' %} {{page.file_name | replace: "FLR", "FLR"}} {% when 'FlexiWay' %} {{page.file_name | replace: "FLR", "FLW"}} {% when 'EziLease'
    %} {{page.file_name | replace: "FLR", "EZL"}} {% endcase %}</title>
  <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
  <table class="body" data-made-with-foundation>
    <tr>
      <td class="float-center" align="center" valign="top">
        <center>


          <table class="container">
            <tr>
              <td>               
                                

                <!-- HEADER -->
                <table class="row">
                  <tr>
                    <th class="small-12 large-7 columns first" valign="bottom">

                      <table>
                        <tr>
                          <th>


                           <img class="float-left small-float-center flexi-logo" src="{{ logo }}" />

                          </th>
                        </tr>
                      </table>

                    </th>
                    <th class="small-12 large-5 columns last" valign="bottom">

                      <table>
                        <tr>
                          <th>
                            <table>
                              <tr>
                                <td>
                                  <a alt="Phone" href="tel:{{ tel | remove: ' ' }}" title="tel:{{ tel | remove: ' ' }}"><img height="34" width="127" align="right" class="apply" style="display:inline;padding:0;clear:none;" src="{{ contact_number }}" /></a>
                                </td>
                                <td>
                                  <a alt="Activate now" target="_blank" href="{{my_acct_link}}"><img height="34" width="127" align="right" class="float-right small-float-center top-icon my-acct" style="padding:0;clear:none;" src="{{ active_now }}" /></a>
                                </td>
                              </tr>

                            </table>
                          </th>
                        </tr>
                      </table>


                    </th>
                  </tr>
                </table>
                
                <table>
                                <tr>
                                  <th class="outlookHeightFix" height="4" style="mso-line-height-alt:0;"></th>                                  
                                </tr>
                    </table> 

                
                <table class="row collapse image-outlook-collapse-fix">
                  <tr>
                    <th border="0" class="small-6 large-6 first columns padd-left">
                      <img class="flexi-no-margin" width="100%" style="width:100%;margin: 0; padding: 0; border: none;" height="166" src="{{banner_1_img}}">
                    </th>
                    <th border="0" class="small-6 large-6 last columns padd-right">
                      <img class="flexi-no-margin" width="100%" style="width:100%;margin: 0; padding: 0; border: none;" height="166" src="{{banner_2_img}}">
                    </th>
                  </tr>
                </table>                         
                
               
                
                {% include line-height.html %}
                
               

                <table class="row">
                  <tr>
                    <th class="small-12 large-8 columns first text-color custom-width">
                      
                            <table>
                              <tr>
                                <th>
                                  <p>Dear ${firstName},</p>
                                  
                                  <p>By now you would have received your Once 55 card and PIN.</p>
                                  
                                  <p><span class="secondary-color"><b>Activate your card now</b></span> and shop Interest Free* all year round with:</p>
                                  <!--LIST -->
                                  
                                  <table class="custom-margin-left" style="width:75%;">
                                          <tr>
                                            <td width="20"><p class="no-margin-bottom"><b>•</b></p></td>
                                            <td><p class="no-margin-bottom">Up to <b>55 days Interest Free*</b> on card
purchases</p></td>
                                          </tr>
                                          <tr>
                                                  <td><p class="no-margin-bottom"><b>•</b></p></td>
                                            <td><p class="no-margin-bottom">Up to <b>48 months Interest Free^</b> through our retail network</p></td>
                                                </tr>                                    
                                        </table>
                                  <!--/LIST -->
                                  <br>
                                  <br>                                  
                                  <p><!--button-->
                                  <a alt="Activate now" target="_blank" href="{{my_acct_link}}"><img style="display:inline;" height="34" width="127" class="small-float-center" style="padding:0;clear:none;" src="{{ active_now }}" /></a>
                                  </p>
                                  
                                  <p>If you haven’t received your card or PIN yet please call us immediately.</p>
                                  
                                  {% include line-height.html %}
                                  
                                  <p>Once again, welcome!</p>
                                  
                                  <p>Kind regards,</p>
                                  
                                  <p class="no-margin-bottom" style="line-height:80%;"><b>Adam Frost</b></p>
                                  
                                  <p>Head of Cards</p>
                                  
                                </th>
                              </tr>                                
                            </table>
                          
                    </th>
                    <th class="small-12 large-4 columns last">
                          <table>
                              <tr>
                                  <th class="text-color">
                                    
                                    <table>
                                      <tr>
                                          <td style="border:3px solid #ebebeb;">
                                            <h1 class="flexi-margin secondary-color text-center"><b>Activate your card</b></h1>
                                    
                        <center data-parsed="">
                        <img src="{{ online_icon }}" alt="Online" align="center" class="float-center">
                      </center>
                                    
                                    <p class="text-center"><span><a class="link-color"><b>Online</b></a></span></p>                                    
                                           
                                            
                                        <table class="custom-margin-left" style="width:75% !important;margin:0 auto !important;">
                                          <tr>
                                            <td width="20"><p class="no-margin-bottom">1.</p></td>
                                            <td><p class="no-margin-bottom"><a alt="Activate now" target="_blank" href="{{my_acct_link}}"><span class="secondary-color"><strong><u>Log in</u></strong></span></a> using your Customer ID and Password</p></td>
                                          </tr>
                                          <tr>
                                            <td><p class="no-margin-bottom">2.</p></td>
                                            <td><p class="no-margin-bottom">Select 'Activate card'</p></td>
                                          </tr>                                          
                                        </table>
                                    
                       <table>
                                                    <tr>
                                                      <th height="10" style="mso-line-height-alt:0;line-height:0;"></th>                                  
                                                    </tr>
                                       </table>
                                            
                      <center data-parsed="">
                        <img src="{{ tel_icon }}" alt="Phone" align="center" class="float-center">
                      </center>
                                    
                                    <p class="text-center"><span><a class="link-color"><b>Call 13 66 23</b></a></span></p>               
                                    
                                    <p class="flexi-margin text-center appleLinksBlack">Weekdays 9am - 8pm or <br>Weekends 9am - 4pm (AEST)</p> 
                                          </td>
                                      </tr>
                                    </table>
                                         
                                     <table>
                                                    <tr>
                                                      <th height="8" style="mso-line-height-alt:0;line-height:0;"></th>                                  
                                                    </tr>
                                       </table>
                                    
                                    <table class="acc-dtls">
                                            <tr>
                                              <th class="quaternary-bg-color">
                                                <p class="flexi-margin no-margin-bottom secondary-color text-size-account-details"><span class="secondary-color"><strong>ACCOUNT DETAILS</strong></span></p>
                                                  <XXX>
                                                    <p class="flexi-margin-left no-margin-bottom"><strong>Account Number:</strong> ${originalAccountNumber}

                                                    </p>
                                                    <p class="flexi-margin-left"><strong>Customer ID:</strong> ${borrowerCustomerId}

                                                    </p>                                                

                                              </th>
                                                <th class="expander"></th>
                                            </tr>
                                          </table>
                                    
                                  </th>
                                <th class="expander"></th>
                              </tr>  
                          </table>
                    </th>
                  </tr>
                </table>
                <!-- /HEADER -->


                 <table>
                                <tr>
                                  <th class="outlookHeightFix" height="20" style="mso-line-height-alt:0;"></th>                                  
                                </tr>
                    </table>    

               



                <!-- Footer line -->
                <table class="row">
                  <tr>
                    <th class="small-12 large-12 columns first last">
                      <table>
                        <tr>
                          <th>
                            <center data-parsed="">
                              <img style="width:100%;" class="float-center" align="center" src="{{line}}" />
                            </center>
                          </th>
                          <th class="expander"></th>
                        </tr>
                      </table>
                    </th>
                  </tr>
                </table>
                <!-- /footer line-->

                <table class="row">
                  <tr>
                    <th class="columns large-12 first last">
                      <table>
                        <tr>
                          <td>
                            <div class="text-size-footer-flr text-color appleLinksBlack" style="line-height:19.5px;">

                              <!-- T&C -->
                              *Up to 55 days Interest Free is available on card purchases (excluding cash withdrawals), when you pay, by the payment due date, the amount identified in your statement as the ‘optional repayment to qualify for up to 55 days Interest Free’. Interest is payable on any balance outstanding after an Interest Free term. ^Minimum purchase and conditions may apply. The promotional terms available may vary per Once retailer. Credit provided by Once Credit Pty Limited ABN 99 112 319 632, Australian Credit Licence number 386194 (<b>Once</b>). Once® is a trademark of Once. Once is a subsidiary of FlexiGroup Limited.<br />


                            </div>
                            <br>






                            <table>
                              <tr>
                                <td height="75px"></td>
                              </tr>
                            </table>
                          </td>


                          <td class="expander"></td>
                        </tr>
                      </table>
                    </th>
                  </tr>
                </table>

              </td>
              </tr>
          </table>

        </center>
      </td>
      </tr>
  </table>
</body>

</html>