--- 
file_name: LBD_E_Important Notice_V2
category: Email-Projects
tags: [All Lombard eDMs to be Mobile Responsive]
--- 
{% include brand-controller.html %} 
{% include variables.html %}




<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++  -->
<!-- ++++++++++++++++++++++  START HTML CODE ++++++++++++++++++++++++++++  -->
<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++  -->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">

<head>
  <!--[if gte mso 9]><xml>
 <o:OfficeDocumentSettings>
  <o:AllowPNG/>
  <o:PixelsPerInch>96</o:PixelsPerInch>
 </o:OfficeDocumentSettings>
</xml>
<![endif]-->

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width" />
  <!-- APPLE FIX -->
  <!-- <meta content="telephone=no" name="format-detection"> -->

  <title>{% case {{site.flexi-brand}} %} {% when 'FlexiCommercial' %} {{page.file_name | replace: "FLR", "FLC"}} {% when 'FlexiRent' %} {{page.file_name | replace: "FLR", "FLR"}} {% when 'FlexiWay' %} {{page.file_name | replace: "FLR", "FLW"}} {% when 'EziLease'
    %} {{page.file_name | replace: "FLR", "EZL"}} {% endcase %}</title>
  <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
  <table class="body" data-made-with-foundation>
    <tr>
      <td class="float-center" align="center" valign="top">
        <center>


          <table class="container">
            <tr>
              <td>               
                                

                <!-- HEADER -->
                    <table class="row">
                      <tr>
                        <th class="small-12 large-6 columns first">

                          <table>
                            <tr>
                              <th>                              
                                

                              <a target="_blank" href="{{ url }}"><img class="small-float-center float-left flexi-logo" src="{{ logo }}" /></a>                              
                              
                              </th>
                            </tr>
                          </table>

                        </th>
                        <th class="small-12 large-6 columns last" valign="bottom">

                          <table>
                            <tr>
                              <th class="text-right">
                                 <a title="tel:{{ tel | remove: ' ' }}" href="tel:{{ tel | remove: ' ' }}"><img class="float-right small-float-center" src="{{ tel_top_icon }}" /></a>
                              </th>
                            </tr>
                          </table>

                        </th>
                      </tr>
                    </table>

                    <table class="row">
                      <tr>
                        <th class="small-12 large-12 columns first last">
                          <table>
                            <tr>
                              <th>
                                <center data-parsed="">                            
                                    <img class="float-center" align="center" src="{{line}}" />
                                 </center>
                              </th>
                              <th class="expander"></th>
                            </tr>
                          </table>
                        </th>
                      </tr>
                    </table>

                    <table class="row">
                      <tr>
                        <th class="small-12 large-12 columns first last">
                          <table>
                           <!--[if (gte mso 9) | (IE)]>
                           <tr>
                            <th height="15" style="mso-line-height-alt:0;"></th>
                           </tr>
                           <![endif]-->
                            <tr>
                              <th>
                                <!-- BANNER  #welcome #transfer #reminder #important #end_of_term -->
                                <img class="msoMarginTopFix float-left small-float-center flexi-margin-bottom" src="https://flxuat.credagility.com/fleximg/GetImage/images/Important_Notice.png" />
                              </th>
                              <th class="expander"></th>
                            </tr>
                          </table>
                        </th>
                        
                      </tr>
                    </table>                   
                    <!-- /HEADER -->
  
                 <table>
                                <tr>
                                  <th class="outlookHeightFix" height="15" style="mso-line-height-alt:0;"></th>                                
                                </tr>
                    </table>
                
                <table class="row">
                      <tr>
                        <th class="small-12 large-12 columns first last text-color text-size">
                          <table>
                            <tr>
                              <th>
                                <p class="text-right">${letterTodayDate}</p>
                              </th>
                              <th class="expander"></th>
                            </tr>
                          </table>
                        </th>
                      </tr>
                    </table>
                

                <!--CONTENT-->
                <table class="row">
                  <tr>
                    <th class="large-12 columns first last text-color text-size">

                      <table>
                        <tr>
                          <th class="justify">  
                            
                            <h1 style="Margin-bottom:10px;margin-bottom:10px;"><strong><font color="#0C004B">Notice of variation to your Lombard Visa Card account</font></strong></h1>
                            
                            <p>Dear ${firstName},</p>
                            
                            <p>This notice contains important information about changes to your Lombard Visa Card Account Conditions of Use & Credit Guide. The changes are effective 20 days from the date of this email.</p>
                            
                            <p>We are changing your credit contract because we are simplifying the way you transact with retailers when using your Lombard Card Account and the process that is applied.</p>
                              
                              <p>The changes are set out in the <a href="https://flxuat.credagility.com/fleximg/GetImage/files/DETAILS_OF_CHANGE_v2.pdf" target="_blank"><u><font color="#F0575B">Details of Change</font></u></a>. However, they include:</p>
                            
                            <table class="custom-margin-left" style="width:93.84615384615385%;">
                                    <tr>
                                      <td width="20"><p class="no-margin-bottom">1.</p></td>
                                      <td><p class="no-margin-bottom">deleting the reference to manual, paper-based transactions and vouchers; </p></td>
                                    </tr>
                                    <tr>
                                      <td><p class="no-margin-bottom">2.</p></td>
                                      <td><p class="no-margin-bottom">allowing us to tell you the Deferred Payment Interest Free Period, Interest Free Period, Special Promotion Period, Special Promotion Rate and Voucher Transaction (in addition to a Retail Partner); </p></td>
                                    </tr>
                                    <tr>
                                      <td><p>3.</p></td>
                                      <td><p>including an obligation for you to promptly tell us if you change your email address or mobile phone number; and </p></td>
                                    </tr>
                              <tr>
                                      <td><p>4.</p></td>
                                      <td><p>other changes such as updating the contact details of our external dispute resolution provider, Credit and Investment Ombudsman Limited.</p></td>
                                    </tr>
                                  </table>
                            
                            <p>You should keep a copy of this notice and the new <a href="https://flxuat.credagility.com/fleximg/GetImage/files/Conditons_of_Use_A4_FA_01112016%20_WEB%20PROTECTED_.pdf" target="_blank"><u><font color="#F0575B">Conditions of Use &amp; Credit Guide</font></u></a> as a record of these changes.</p>                            
                            
                               
                            <p class="appleLinksBlack">If you have any questions regarding the notice above, call us on <span class="primary-color appleLinksPrimary-color"><strong>1300 132 301</strong></span> Monday to Friday between 9am and 8pm or Saturday to Sunday between 9am and 4pm (AEST). </p>
                            
                            <p>Yours sincerely,</p>
                            
                            <p class="no-margin-bottom"><strong>Adam Frost</strong></p>
                            
                            <p>Head of Cards</p>
                            
                          


                          </th>
                          <th class="expander"></th>
                          </tr>
                      </table>
                      
                      



                       <table>
                                <tr>
                                  <th class="outlookHeightFix" height="15" style="mso-line-height-alt:0;"></th>                                
                                </tr>
                    </table>    





                    </th>
                    </tr>
                </table>
                <!--/CONTENT-->



                <!-- Footer line -->
                <table class="row">
                  <tr>
                    <th class="small-12 large-12 columns first last">
                      <table>
                        <tr>
                          <th>
                            <center data-parsed="">
                              <img style="width:100%;" class="float-center" align="center" src="http://cdn-au.mailsnd.com/598/oORBbu4-0G4Onn7VOpFRUG982Lzmbq_tTfaWQVVwT5w/1960742.gif" />
                            </center>
                          </th>
                          <th class="expander"></th>
                        </tr>
                      </table>
                    </th>
                  </tr>
                </table>
                <!-- /footer line-->

                <table class="row">
                  <tr>
                    <th class="columns large-12 first last">
                      <table>
                        <tr>
                          <td>
                            <div class="text-size-footer-flr text-color appleLinksBlack">

                              <!-- T&C -->
                              	Credit provided by Lombard Finance Pty Ltd ABN 31 099 651 877 Australian Credit Licence number 247415 (Lombard). Lombard® is a trademark of Lombard. Lombard is a subsidiary of FlexiGroup Limited.
                              <br>
                              <br>


                            </div>
                            <br>






                            <table>
                              <tr>
                                <td height="75px"></td>
                              </tr>
                            </table>
                          </td>


                          <td class="expander"></td>
                        </tr>
                      </table>
                    </th>
                  </tr>
                </table>

              </td>
              </tr>
          </table>

        </center>
      </td>
      </tr>
  </table>
</body>

</html>