--- 
file_name: LBD_E_12MBalanceTransfer
category: Email-Projects
tags: [All Lombard eDMs to be Mobile Responsive]
--- 
{% include brand-controller.html %} 
{% include variables.html %}




<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++  -->
<!-- ++++++++++++++++++++++  START HTML CODE ++++++++++++++++++++++++++++  -->
<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++  -->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">

<head>
  <!--[if gte mso 9]><xml>
 <o:OfficeDocumentSettings>
  <o:AllowPNG/>
  <o:PixelsPerInch>96</o:PixelsPerInch>
 </o:OfficeDocumentSettings>
</xml>
<![endif]-->

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width" />
  <!-- APPLE FIX -->
  <!-- <meta content="telephone=no" name="format-detection"> -->

  <title>{% case {{site.flexi-brand}} %} {% when 'FlexiCommercial' %} {{page.file_name | replace: "FLR", "FLC"}} {% when 'FlexiRent' %} {{page.file_name | replace: "FLR", "FLR"}} {% when 'FlexiWay' %} {{page.file_name | replace: "FLR", "FLW"}} {% when 'EziLease'
    %} {{page.file_name | replace: "FLR", "EZL"}} {% endcase %}</title>
  <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
  <table class="body" data-made-with-foundation>
    <tr>
      <td class="float-center" align="center" valign="top">
        <center>


          <table class="container">
            <tr>
              <td>               
                                

                <!-- HEADER -->
                    <table class="row">
                      <tr>
                        <th class="small-12 large-7 columns first">

                          <table>
                            <tr>
                              <th>                              
                                

                              <a target="_blank" href="{{ url }}"><img  class="small-float-center float-left flexi-logo" src="{{ logo }}" /></a>                              
                              
                              </th>
                            </tr>
                          </table>

                        </th>
                        <th class="small-12 large-5 columns last" valign="bottom">

                         <table>
                              <tr>
                                <td>
                                  <a target="_blank" href="https://www.lombardfinance.com.au/OnlineAccess/login.aspx"><img height="34" width="127" align="right" class="apply" style="display:inline;padding:0;clear:none;" src="https://cmc.flexigroup.com.au/fleximg/GetImage/images/LombardLoginTransparent.png" /></a>
                                </td>
                                <td>
                                  <a title="tel:{{ tel | remove: ' ' }}" href="tel:{{ tel | remove: ' ' }}"><img height="34" width="127" align="right" class="float-right small-float-center top-icon my-acct" style="padding:0;clear:none;" src="https://cmc.flexigroup.com.au/fleximg/GetImage/images/LombardCallUsTransparent.png" /></a>
                                </td>
                              </tr>

                            </table>

                        </th>
                      </tr>
                    </table>
                
                 <table>
                                <tr>
                                  <th class="outlookHeightFix" height="4" style="mso-line-height-alt:0;"></th>                                  
                                </tr>
                    </table> 

                    <table class="row">
                      <tr>
                        <th class="small-12 large-12 columns first last">
                          <table>
                            <tr>
                              <th>
                                <center data-parsed="">                            
                                    <img width="650px" style="width:100%;" class="float-center" align="center" src="https://cmc.flexigroup.com.au/fleximg/GetImage/images/12MBalanceTrans.png" />
                                 </center>
                              </th>
                              <th class="expander"></th>
                            </tr>
                          </table>
                        </th>
                      </tr>
                    </table>

                                      
                    <!-- /HEADER -->
  
                 <table>
                                <tr>
                                  <th class="outlookHeightFix" height="15" style="mso-line-height-alt:0;"></th>                                
                                </tr>
                    </table>
                
               

                <!--CONTENT-->
                <table class="row">
                  <tr>
                    <th class="large-12 columns first last text-color text-size">

                      <table>
                        <tr>
                          <th class="justify">  
                            
                             <p>Dear ${firstName},</p>                           
                                    
                            <p>We are pleased to offer you <strong>0% p.a. for 12 months</strong> on balances transferred to your Lombard account. Your available credit can be used to pay off other non-Lombard credit or store cards.</p>
                              
                            <p>Simply complete the <a href="https://cmc.flexigroup.com.au/fleximg/GetImage/files/1610001ONLB%20-%20LOM%20BT%20FORM%20BTG4%2012MIF-2.pdf" target="_blank"><u><font class="link-color"><strong>balance transfer form</strong></font></u></a>, scan and email it back to <a href="mailto:settlements.cards@flexigroup.com.au" target="_blank" style="color:#F0575B;"><u>settlements.cards@flexigroup.com.au</u></a></p>
                            
                            <p class="appleLinksBlack">Alternatively, you can post the form back to Reply Paid 88490 Royal Exchange, Sydney NSW 1224.</p>                           
                               
                            <p class="appleLinksBlack">If you have any questions call us on <span class="primary-color appleLinksPrimary-color"><strong>1300 132 301</strong></span>, Monday to Friday between 9am - 8pm or Saturday to Sunday between 9:00am and 4:00pm (AEST).</p>
                            
                            <p>Warm regards,</p>
                            
                            <p class="no-margin-bottom"><strong>Adam Frost</strong></p>
                            
                            <p>Head of Cards</p>
                            
                          


                          </th>
                          <th class="expander"></th>
                          </tr>
                      </table>
                      
                      



                       <table>
                                <tr>
                                  <th class="outlookHeightFix" height="15" style="mso-line-height-alt:0;"></th>                                
                                </tr>
                    </table>    





                    </th>
                    </tr>
                </table>
                <!--/CONTENT-->



                <!-- Footer line -->
                <table class="row">
                  <tr>
                    <th class="small-12 large-12 columns first last">
                      <table>
                        <tr>
                          <th>
                            <center data-parsed="">
                              <img style="width:100%;" class="float-center" align="center" src="https://cmc.flexigroup.com.au/fleximg/GetImage/images/Lombard%20Rule%20Transparent.png" />
                            </center>
                          </th>
                          <th class="expander"></th>
                        </tr>
                      </table>
                    </th>
                  </tr>
                </table>
                <!-- /footer line-->

                <table class="row">
                  <tr>
                    <th class="columns large-12 first last">
                      <table>
                        <tr>
                          <td>
                            <div class="text-size-footer-flr text-color appleLinksBlack">

                              <!-- T&C -->
                              	*Balance Transfer rate will apply to any balance(s) transferred (minimum $500 up to 95% of your approved available credit limit) for 12 months, unless the amount is paid off earlier. The annual variable purchase rate, currently 22.99% p.a., will apply to balance(s) transferred but left unpaid after 12 months. Lombard will not be responsible for any delays that may occur in processing payment to your other card account(s) and will not close the account(s). Full terms and conditions apply and are available here. Credit provided by Lombard Finance Pty Ltd ABN 31 099 651 877 Australian Credit Licence number 247415 (Lombard). Lombard® is a trademark of Lombard. Lombard is a subsidiary of FlexiGroup Limited.
                              <br>
                              <br>


                            </div>
                            <br>






                            <table>
                              <tr>
                                <td height="75px"></td>
                              </tr>
                            </table>
                          </td>


                          <td class="expander"></td>
                        </tr>
                      </table>
                    </th>
                  </tr>
                </table>

              </td>
              </tr>
          </table>

        </center>
      </td>
      </tr>
  </table>
</body>

</html>