--- 
file_name: LBD_E_UPCAMPAIGN_LVL
category: Email-Projects
tags: [All Lombard eDMs to be Mobile Responsive]
--- 
{% include brand-controller.html %} 
{% include variables.html %}




<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++  -->
<!-- ++++++++++++++++++++++  START HTML CODE ++++++++++++++++++++++++++++  -->
<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++  -->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">

<head>
  <!--[if gte mso 9]><xml>
 <o:OfficeDocumentSettings>
  <o:AllowPNG/>
  <o:PixelsPerInch>96</o:PixelsPerInch>
 </o:OfficeDocumentSettings>
</xml>
<![endif]-->

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width" />
  <!-- APPLE FIX -->
  <!-- <meta content="telephone=no" name="format-detection"> -->

  <title>{% case {{site.flexi-brand}} %} {% when 'FlexiCommercial' %} {{page.file_name | replace: "FLR", "FLC"}} {% when 'FlexiRent' %} {{page.file_name | replace: "FLR", "FLR"}} {% when 'FlexiWay' %} {{page.file_name | replace: "FLR", "FLW"}} {% when 'EziLease'
    %} {{page.file_name | replace: "FLR", "EZL"}} {% endcase %}</title>
  <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
  <table class="body" data-made-with-foundation>
    <tr>
      <td class="float-center" align="center" valign="top">
        <center>


          <table class="container">
            <tr>
              <td>               
                                

                <!-- HEADER -->
                <table class="row">
                  <tr>
                    <th class="small-12 large-7 columns first" valign="bottom">

                      <table>
                        <tr>
                          <th>


                            <a target="_blank" href="{{ url }}"><img class="float-left small-float-center flexi-logo" src="{{ logo }}" /></a>

                          </th>
                        </tr>
                      </table>

                    </th>
                     <th class="small-12 large-6 columns last" valign="bottom">

                          <table>
                            <tr>
                              <th class="text-right">
                                 <a title="tel:{{ tel | remove: ' ' }}" href="tel:{{ tel | remove: ' ' }}"><img class="float-right small-float-center" src="{{ tel_top_icon }}" /></a>
                              </th>
                            </tr>
                          </table>

                        </th>
                  </tr>
                </table>
                
                <table>
                                <tr>
                                  <th class="outlookHeightFix" height="4" style="mso-line-height-alt:0;"></th>                                  
                                </tr>
                    </table> 

                
               <table class="row">
                      <tr>
                        <th class="small-12 large-12 columns first last">
                          <table>
                            <tr>
                              <th>
                                <center data-parsed="">                            
                                    <img class="float-center" align="center" src="https://cmc.flexigroup.com.au/fleximg/GetImage/images/offer_to_upgrade_header.png" />
                                 </center>
                              </th>
                              <th class="expander"></th>
                            </tr>
                          </table>
                        </th>
                      </tr>
                    </table>
                
               
                
                <table>
                                <tr>
                                  <th class="outlookHeightFix" height="35" style="mso-line-height-alt:0;"></th>                                  
                                </tr>
                </table> 
                
               
                
                <!-- /HEADER -->
  

                <!--CONTENT-->
                <table class="row">
                  <tr>
                    <th class="large-12 columns first last text-color text-size">

                      <table>
                        <tr>
                          <th class="justify">  
                            
                            <p>Hi ${firstName},</p>
                            
                            <p>Thank you for choosing to accept our offer to upgrade the features on your existing credit facility. As a result of the upgrade the <strong>Lombard 180 card will replace your Lombard Classic card.</strong></p>
                            
                            <p>Under the new features of the Lombard 180 card you can now get:</p>
                            
                            <table class="custom-margin-left" style="width:93.84615384615385%;">
                                    <tr>
                                      <td width="20"><p class="no-margin-bottom"><strong>•</strong></p></td>
                                      <td><p class="no-margin-bottom">6 months Interest Free on all card purchases of $250 or more*;</p></td>
                                    </tr>
                                    <tr>
                                      <td><p class="no-margin-bottom"><strong>•</strong></p></td>
                                      <td><p class="no-margin-bottom">up to 55 days Interest Free on card purchases less than $250*; and</p></td>
                                    </tr>
                                    <tr>
                                      <td><p><strong>•</strong></p></td>
                                      <td><p>a lower rate of 22.99% p.a. (reduced from 25.9% p.a.)</p></td>
                                    </tr>
                                  </table>
                            
                            <p>Plus, continue to enjoy up to 48 months Interest Free at participating Lombard retail partners^. <a href="https://1.lombardfinance.com.au/retailers/find-a-retailer" alt="https://1.lombardfinance.com.au/retailers/find-a-retailer" target="_blank"><u>Find a store near you.</u></a></p>                            
                            
                            <p><strong><i>This is not a new facility with Lombard. This is an upgrade to your existing Lombard credit facility, with new features and a new card to access these features.</strong></i></p>
                            
                            <p>Before you continue to accept this offer, please read the <a href="https://emarketing-au.s3-ap-southeast-2.amazonaws.com/598/8OVfLoXgEgiO2NqDnx-AmuKQ-nfMOTU3ZT3BIJ8V0Uo/2027221.pdf" target="_blank" title="Offer to upgrade your Lombard Classic card to the Lombard 180 ca.pdf"><u><strong><font color="#EE1D24">Offer to Upgrade</font></strong></u></a>. It sets out the key changes.</p>
                            
                            <p> For a complete copy of the Lombard 180 card Credit Contract, <a target="_blank" href="https://flxuat.credagility.com/fleximg/GetImage/files/Lombard_180%20Card_Credit_Contract_Document_Set_112016.pdf" title="Lombard 180 Card - Credit Contract Document Set - 102016 _protec.pdf"><u>click here</u></a>. You should keep a copy of this notice as a record of these changes.</p>
                            
                            <p><u>To formally accept this offer, please select the appropriate option below.</u></p>

                            <table>
                                <tr>
                                  <th class="outlookHeightFix" height="15" style="mso-line-height-alt:0;"></th>                                
                                </tr>
                    </table>  
                            
                            <p><a target="_blank" href="http://flxuat.credagility.com/$%7BlbdUpAcceptGetURI%7D"><img style="display:inline !important;" width="120" style="display:inline !important;" src="https://cmc.flexigroup.com.au/fleximg/GetImage/images/Accept_button_150.png"></a></p>
                            
                             <table>
                                <tr>
                                  <th class="outlookHeightFix" height="15" style="mso-line-height-alt:0;"></th>                                
                                </tr>
                    </table>
                            
                            <p><strong>What happens next?</strong></p>
                            
                            <p>If you choose to accept the offer to upgrade, we will proceed to upgrade your existing credit facility features.</p>
                            
                            <p> Upon upgrade, you will receive a welcome email, followed by a new Lombard 180 card and PIN. Your current Lombard Classic card will still be available until you contact us to activate your Lombard 180 card.</p>
                            
                            <p class="appleLinksBlack">If you have any further questions please don’t hesitate to contact us on <b><span class='primary-color appleLinksBlack'><font color="#333333">1300 132 301</font></span></b>, Monday to Friday between 9am and 8pm or Saturday to Sunday between 9am and 4pm (AEST). </p>
                            
                            <p>Warm regards,</p>
                            
                            <p class="no-margin-bottom"><strong>Adam Frost</strong></p>
                            
                            <p>Head of Cards</p>
                            
                          


                          </th>
                          <th class="expander"></th>
                          </tr>
                      </table>
                      
                      



                       <table>
                                <tr>
                                  <th class="outlookHeightFix" height="15" style="mso-line-height-alt:0;"></th>                                
                                </tr>
                    </table>    





                    </th>
                    </tr>
                </table>
                <!--/CONTENT-->



                <!-- Footer line -->
                <table class="row">
                  <tr>
                    <th class="small-12 large-12 columns first last">
                      <table>
                        <tr>
                          <th>
                            <center data-parsed="">
                              <img style="width:100%;" class="float-center" align="center" src="https://cmc.flexigroup.com.au/fleximg/GetImage/images/1505029LB_Dealer_Bulletin.jpg" />
                            </center>
                          </th>
                          <th class="expander"></th>
                        </tr>
                      </table>
                    </th>
                  </tr>
                </table>
                <!-- /footer line-->

                <table class="row">
                  <tr>
                    <th class="columns large-12 first last">
                      <table>
                        <tr>
                          <td>
                            <div class="text-size-footer-flr text-color appleLinksBlack">

                              <!-- T&C -->
                              	* Up to 55 days Interest Free is available on all card purchases (excluding cash withdrawals), when you pay, by the payment due date, the amount identified on your statement as the ‘optional repayment to qualify for up to 55 days Interest Free on purchases’.6 months Interest Free is available on single card purchases of $250 or more. The interest free period commences from the date of purchase. Interest is payable on any balance outstanding after the interest free period at the Standard Variable Rate of 22.99% p.a.  ^Available at participating Lombard retailers. Minimum purchase and conditions may apply. <br />
<br>


Credit provided by Lombard Finance Pty Ltd ABN 31 099 651 877, Australian Credit Licence number 247415 (Lombard).
Lombard® is a trademark of Lombard. Lombard is a subsidiary of FlexiGroup Limited. 


                            </div>
                            <br>






                            <table>
                              <tr>
                                <td height="75px"></td>
                              </tr>
                            </table>
                          </td>


                          <td class="expander"></td>
                        </tr>
                      </table>
                    </th>
                  </tr>
                </table>

              </td>
              </tr>
          </table>

        </center>
      </td>
      </tr>
  </table>
</body>

</html>