--- 
file_name: Weclome_Email_Lombard180
category: Email-Projects
tags: [All Lombard eDMs to be Mobile Responsive]
--- 
{% include brand-controller.html %} 
{% include variables.html %}




<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++  -->
<!-- ++++++++++++++++++++++  START HTML CODE ++++++++++++++++++++++++++++  -->
<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++  -->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">

<head>
  <!--[if gte mso 9]><xml>
 <o:OfficeDocumentSettings>
  <o:AllowPNG/>
  <o:PixelsPerInch>96</o:PixelsPerInch>
 </o:OfficeDocumentSettings>
</xml>
<![endif]-->

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width" />
  <!-- APPLE FIX -->
  <!-- <meta content="telephone=no" name="format-detection"> -->

  <title>{% case {{site.flexi-brand}} %} {% when 'FlexiCommercial' %} {{page.file_name | replace: "FLR", "FLC"}} {% when 'FlexiRent' %} {{page.file_name | replace: "FLR", "FLR"}} {% when 'FlexiWay' %} {{page.file_name | replace: "FLR", "FLW"}} {% when 'EziLease'
    %} {{page.file_name | replace: "FLR", "EZL"}} {% endcase %}</title>
  <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
  <table class="body" data-made-with-foundation>
    <tr>
      <td class="float-center" align="center" valign="top">
        <center>


          <table class="container">
            <tr>
              <td>               
                                

                <!-- HEADER -->
                                
                <table>
                                <tr>
                                  <th class="outlookHeightFix" height="20" style="mso-line-height-alt:0;"></th>                                  
                                </tr>
                    </table> 

                
               <table class="row">
                      <tr>
                        <th class="small-12 large-12 columns first last">
                          <table>
                            <tr>
                              <th>
                                <center data-parsed="">  
                                  <a href="https://1.lombardfinance.com.au/180-visa-card.aspx" target="_blank" alt="">
                                    <img style="width:100%;display:block;" class="float-center" align="center" src="https://cmc.flexigroup.com.au/fleximg/GetImage/images/Lombard%20180%20header.jpg" /></a>
                                 </center>
                              </th>
                              <th class="expander"></th>
                            </tr>
                          </table>
                        </th>
                      </tr>
                    </table>
                
               
                
                <table>
                                <tr>
                                  <th class="outlookHeightFix" height="35" style="mso-line-height-alt:0;"></th>                                  
                                </tr>
                </table> 
                
               
                
                <!-- /HEADER -->
  

                <!--CONTENT-->
                <table class="row">
                  <tr>
                    <th class="large-12 columns first last text-color text-size">

                      <table>
                        <tr>
                          <th class="justify">  
                            
                            <p>Dear ${firstname},</p>
                            
                            <p>Now that you've settled in with Lombard, we'd like to remind you of a few things coming up.</p>
                            
                            <p>1. Your first statement will be sent to you in the next two weeks and your first repayment will fall due around ${firstBillingDate}. If you have opted to receive your statements electronically then your statement will be sent from '<a href="mailto:customerservice.cards@flexigroup.com.au"><u>customerservice.cards@flexigroup.com.au</u></a>'. This may appear as just 'Customer Service' in your inbox, so please keep an eye out for it. Please note, a Paper Statement Fee of $1 is charged for every statement sent by mail. To avoid this, contact us to set up email statements. </p>
                            
                            <p>2. The Annual Fee needs to be paid in full as part of your first repayment to avoid being charged any interest on the Annual fee. Please look out for the amount listed on your first statement as 'Optional' Repayment - 55 Days Interest Free' and pay this amount in full to avoid any interest charges.</p>
                            
                            <p>3. As per your contract, we charge a $2.50 Non-Direct Debit fee for every payment received via BPAY or Australia Post. Try to make just one payment per month, after you've received your statement, to avoid being charged multiple Non-Direct fees each month. Alternatively, if you set up a Direct Debit payment arrangement, you will not be charged the $2.50 Non-Direct Debit Fee. To set this up complete the <a href="https://cmc.flexigroup.com.au/fleximg/GetImage/files/Lombard%20DD%20Form.pdf" target="_blank" alt=""><u>Direct Debit Request Form</u></a>, scan and email it back to customerservice.cards@flexigroup.com.au</p>
                            
                            <p>4. You can pay for purchases using your Android smartphone*. If you have an Android smartphone, download the Lombard Tap2Pay app from the Google Play store, register your Lombard Visa card and you can use your Android smartphone to make payments. To use the app, your card must be active. For more information <a href="https://1.lombardfinance.com.au/tap2pay.aspx" target="_blank" alt=""><u>click here</u></a>.</p>
                            
                                                      
                            
                            
                            <p class="appleLinksBlack">If you have any questions please call us on 1300 132 301, Monday to Friday between 9am and 8pm or Saturday to Sunday between 9am and 4pm (AEST).</p>
                            
                            <p>We're here to help! </p>
                            
                            <table>
                                <tr>
                                  <th class="outlookHeightFix" height="15" style="mso-line-height-alt:0;"></th>                                
                                </tr>
                    </table>  
                            
                            <p>Regards,</p>
                            
                            <p>Head of Cards</p>
                            
                          


                          </th>
                          <th class="expander"></th>
                          </tr>
                      </table>
                      
                      



                       <table>
                                <tr>
                                  <th class="outlookHeightFix" height="15" style="mso-line-height-alt:0;"></th>                                
                                </tr>
                    </table>    





                    </th>
                    </tr>
                </table>
                <!--/CONTENT-->



                <!-- Footer line -->
                <table class="row">
                  <tr>
                    <th class="small-12 large-12 columns first last">
                      <table>
                        <tr>
                          <th>
                            <center data-parsed="">
                              <img style="width:100%;" class="float-center" align="center" src="https://cmc.flexigroup.com.au/fleximg/GetImage/images/Lombard%20Rule%20Transparent.png" />
                            </center>
                          </th>
                          <th class="expander"></th>
                        </tr>
                      </table>
                    </th>
                  </tr>
                </table>
                <!-- /footer line-->

                <table class="row">
                  <tr>
                    <th class="columns large-12 first last">
                      <table>
                        <tr>
                          <td>
                            <div class="text-size-footer-flr text-color appleLinksBlack">

                              <!-- T&C -->
                              	<span class="primary-color">Credit provided by Lombard Finance Limited ABN 31 099 651877, Australian Credit Licence Number 247415.<br />
                              Lombard® is brought to you by FlexiGroup®</span>
<br>



                            </div>
                            <br>






                            <table>
                              <tr>
                                <td height="75px"></td>
                              </tr>
                            </table>
                          </td>


                          <td class="expander"></td>
                        </tr>
                      </table>
                    </th>
                  </tr>
                </table>

              </td>
              </tr>
          </table>

        </center>
      </td>
      </tr>
  </table>
</body>

</html>