--- 
file_name: EOT
category: Email-Projects
tags: [Special-request]
--- 
{% include brand-controller.html %} 
{% include variables.html %}




<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++  -->
<!-- ++++++++++++++++++++++  START HTML CODE ++++++++++++++++++++++++++++  -->
<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++  -->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">

<head>
  <!--[if gte mso 9]><xml>
 <o:OfficeDocumentSettings>
  <o:AllowPNG/>
  <o:PixelsPerInch>96</o:PixelsPerInch>
 </o:OfficeDocumentSettings>
</xml>
<![endif]-->

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width" />
  <!-- APPLE FIX -->
  <!-- <meta content="telephone=no" name="format-detection"> -->

  <title>{% case {{site.flexi-brand}} %} {% when 'FlexiCommercial' %} {{page.file_name | replace: "FLR", "FLC"}} {% when 'FlexiRent' %} {{page.file_name | replace: "FLR", "FLR"}} {% when 'FlexiWay' %} {{page.file_name | replace: "FLR", "FLW"}} {% when 'EziLease'
    %} {{page.file_name | replace: "FLR", "EZL"}} {% endcase %}</title>
  <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
  <table class="body" data-made-with-foundation>
    <tr>
      <td class="float-center" align="center" valign="top">
        <center>


          <table class="container">
            <tr>
              <td>
                
                                

                <!-- HEADER -->
                <table class="row">
                  <tr>
                    <th class="small-12 large-7 columns first" valign="bottom">

                      <table>
                        <tr>
                          <th>


                            <a target="_blank" href="{{ url }}"><img class="float-left small-float-center flexi-logo" src="{{ logo }}" /></a>

                          </th>
                        </tr>
                      </table>

                    </th>
                    <th class="small-12 large-5 columns last" valign="bottom">

                      <table>
                        <tr>
                          <th>
                            <table>
                              <tr>
                                <td>
                                  <a target="_blank" href="{{ apply_link }}"><img height="34" width="127" align="right" class="apply" style="display:inline;padding:0;clear:none;" src="{{ apply_img }}" /></a>
                                </td>
                                <td>
                                  <a target="_blank" href="{{my_acct_link}}"><img height="34" width="127" align="right" class="float-right small-float-center top-icon my-acct" style="padding:0;clear:none;" src="{{ my_acct_img }}" /></a>
                                </td>
                              </tr>

                            </table>
                          </th>
                        </tr>
                      </table>


                    </th>
                  </tr>
                </table>

                <table class="row">
                  <tr>
                    <th class="small-12 large-12 columns first last">
                      <table>
                        <tr>
                          <th>
                            <center data-parsed="">
                              <img style="width:100%;" class="float-center" align="center" src="{{line}}" />
                            </center>
                          </th>
                          <th class="expander"></th>
                        </tr>
                      </table>
                    </th>
                  </tr>
                </table>

                <table class="row">
                  <tr>
                    <th class="small-12 large-7 columns first">
                      <table>
                        <!--[if (gte mso 9) | (IE)]>
                           <tr>
                            <th height="15" style="mso-line-height-alt:0;"></th>
                           </tr>
                           <![endif]-->
                        <tr>
                          <th>
                            <!-- BANNER  #welcome #transfer #reminder #important #end_of_term #eofy -->
                            <img class="msoMarginTopFix float-left small-float-center flexi-margin-bottom" src="{{eofy}}" />
                          </th>
                        </tr>
                      </table>
                    </th>
                    <th class="small-12 large-5 columns last" align="right">
                      <table>
                        <tr>
                          <th class="text-color custom-width">
                            <table class="acc-dtls">
                              <tr>
                                <th class="quaternary-bg-color">
                                  <p class="flexi-margin no-margin-bottom secondary-color text-size-account-details"><img src="{{acct_details}}"></p>
                                    <XXX>
                                      <p class="flexi-margin-left no-margin-bottom text-size-account-details">Agreement Number:
                                        <br><br>
                                      </p>
                                      <br><br>

                                </th>
                              </tr>
                            </table>
                          </th>
                        </tr>
                      </table>
                    </th>
                  </tr>
                </table>
                <!-- /HEADER -->


                 <table>
                                <tr>
                                  <th height="40" style="mso-line-height-alt:0;"></th>                                  
                                </tr>
                    </table>    

                <!--CONTENT-->
                <table class="row">
                  <tr>
                    <th class="large-12 columns first last text-color text-size">

                      <table>
                        <tr>
                          <th class="justify">

                            <p>Dear Valued Customer,</p>

                            <p>End of Financial Year sales are around the corner, so now is a great time to get all the computer and electrical equipment you need for your home or office. And because you’re already a FlexiRent customer, we’re making it easy
                              for you to get pre-approved and start shopping in store.</p>

                            <p> You’ll receive a <strong>BONUS GIFT*</strong> when you FlexiRent eligible computer or electrical goods at Harvey Norman, Domayne or Joyce Mayne.</p>
                            
                            <table bgcolor="#56C8DC" cellspacing="0" cellpadding="0" class="row collapse">
                              <tr>
                                <th class="small-12 large-6 first columns">
                                 <a target="_blank" href="{{bonus_1_link}}"><img class="flexi-no-margin" width="318" height="268" src="{{bonus_1_img}}"></a>
                                </th>
                                <th class="small-12 large-6 last columns">
                                   <a target="_blank" href="{{bonus_2_link}}"><img class="flexi-no-margin" width="318" height="268" src="{{bonus_2_img}}"></a>
                                </th>
                              </tr>
                            </table>

                            

                             <table>
                                <tr>
                                  <th height="10" style="mso-line-height-alt:0;"></th>                                  
                                </tr>
                    </table>   

                            <p>To apply, take this offer to your nearest store, apply online or call us.</p>
                            
                            <table>
                              <tr><td class="eot_bottomNumber_mobile_view"><a target="_blank" href="{{bonus_1_link}}"><img style="display:inline !important;" src="{{apply_bottom_img}}"></a></td><td> <a href="tel:{{tel | remove: ' '}}"><img style="display:inline !important;" src="{{tel_bottom_icon}}"></a></td></tr>
                            </table>                       

                            <table>
                                <tr>
                                  <th height="10" style="mso-line-height-alt:0;"></th>                                  
                                </tr>
                    </table> 

                            <p class="no-margin-bottom">Regards,</p>

                            <p class="no-margin-bottom">{{brand_name}} Customer Team</p>


                          </th>
                          <th class="expander"></th>
                          </tr>
                      </table>



                       <table>
                                <tr>
                                  <th height="15" style="mso-line-height-alt:0;"></th>                                  <p>
                                    
                                    </p>
                                </tr>
                    </table>    





                    </th>
                    </tr>
                </table>
                <!--/CONTENT-->



                <!-- Footer line -->
                <table class="row">
                  <tr>
                    <th class="small-12 large-12 columns first last">
                      <table>
                        <tr>
                          <th>
                            <center data-parsed="">
                              <img style="width:100%;" class="float-center" align="center" src="{{line}}" />
                            </center>
                          </th>
                          <th class="expander"></th>
                        </tr>
                      </table>
                    </th>
                  </tr>
                </table>
                <!-- /footer line-->

                <table class="row">
                  <tr>
                    <th class="columns large-12 first last">
                      <table>
                        <tr>
                          <td>
                            <div class="text-size-footer-flr text-color appleLinksBlack">

                              <!-- T&C -->
                              *Credit approved applicants only; fees, terms and conditions apply. Bonus offer is available from 1 May 2017 to 30 June 2017 unless withdrawn sooner on eligible FlexiRent rental agreements settled no later than 15 July 2017. Settled deals valued between $2000 - $3999 receive an UE Megaboom Portable Bluetooth Speaker OR a Fitbit Alta HR Special Edition. Settled deals valued over $4000 excluding upfront payment amounts, can choose to receive either a Samsung 27" Curved Monitor OR Sennheiser Momentum Wireless Headphones. Offer available within participating Harvey Norman, Domayne and Joyce Mayne Computer or Electrical franchises on a FlexiRent rental agreement on standard rates only. If bonus item is not available at the time of redemption, the store will be responsible for providing the bonus item when available. One bonus item per customer. See salesperson in-store for details. Not available with any other offer. Images are for illustrative purposes only. Flexirent Capital Pty Ltd ABN 93 064 046 046 is the Financier and holds Australian Credit Licence number 394735 (<strong>Flexirent</strong>). FlexiRent® is a trademark of Flexirent. Flexirent is a subsidiary of FlexiGroup Limited.<br />






                            </div>
                            <br>






                            <table>
                              <tr>
                                <td height="75px"></td>
                              </tr>
                            </table>
                          </td>


                          <td class="expander"></td>
                        </tr>
                      </table>
                    </th>
                  </tr>
                </table>

              </td>
              </tr>
          </table>

        </center>
      </td>
      </tr>
  </table>
</body>

</html>