--- 
file_name: EscapeTravel_Email_Lombard
category: Email-Projects
tags: [All Lombard eDMs to be Mobile Responsive]
--- 
{% include brand-controller.html %} 
{% include variables.html %}




<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++  -->
<!-- ++++++++++++++++++++++  START HTML CODE ++++++++++++++++++++++++++++  -->
<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++  -->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">

<head>
  <!--[if gte mso 9]><xml>
 <o:OfficeDocumentSettings>
  <o:AllowPNG/>
  <o:PixelsPerInch>96</o:PixelsPerInch>
 </o:OfficeDocumentSettings>
</xml>
<![endif]-->

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width" />
  <!-- APPLE FIX -->
  <!-- <meta content="telephone=no" name="format-detection"> -->

  <title>{% case {{site.flexi-brand}} %} {% when 'FlexiCommercial' %} {{page.file_name | replace: "FLR", "FLC"}} {% when 'FlexiRent' %} {{page.file_name | replace: "FLR", "FLR"}} {% when 'FlexiWay' %} {{page.file_name | replace: "FLR", "FLW"}} {% when 'EziLease'
    %} {{page.file_name | replace: "FLR", "EZL"}} {% endcase %}</title>
  <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
  <table class="body" data-made-with-foundation>
    <tr>
      <td class="float-center" align="center" valign="top">
        <center>


          <table class="container">
            <tr>
              <td>               
                                

                <!-- HEADER -->
                                
                <table>
                                <tr>
                                  <th class="outlookHeightFix" height="20" style="mso-line-height-alt:0;"></th>                                  
                                </tr>
                    </table> 

                
               <table class="row">
                      <tr>
                        <th class="small-12 large-12 columns first last">
                          <table>
                            <tr>
                              <th>
                                <center data-parsed="">                            
                                    <img style="width:650px;display:block;" width="650" class="float-center" align="center" src="https://cmc.flexigroup.com.au/fleximg/GetImage/images/1511001LB_Edm-headers_Travel_FA3.jpg" />
                                 </center>
                              </th>
                              <th class="expander"></th>
                            </tr>
                          </table>
                        </th>
                      </tr>
                    </table>
                
               
                
                <table>
                                <tr>
                                  <th class="outlookHeightFix" height="35" style="mso-line-height-alt:0;"></th>                                  
                                </tr>
                </table> 
                
               
                
                <!-- /HEADER -->
  

                <!--CONTENT-->
                <table class="row">
                  <tr>
                    <th class="large-12 columns first last text-color text-size">

                      <table>
                        <tr>
                          <th class="justify">  
                            
                            <p>Dear ${firstname},</p>
                            
                            <h1 class="custom-margin-bottom"><font color="#FF0000"><b>Welcome to Lombard.</b></font></h1>
                            
                            <p>Congratulations on your recent booking with Escape Travel. We hope you're as excited as we are!</p>
                            
                            <p>Not only could you pay off your holiday with 0% interest^, but your Lombard 180 card offers so much more.</p>
                            
                            <p>Did you know you get 0% interest for 6 months when you spend $250 or more* on your Lombard 180 card? It's perfect to use in the lead up to, or during your trip. Whether it's a new luggage set, souvenirs for family and friends or simply extra spending money for yourself while you're away, use your Lombard 180 card.</p>
                        
                         <h1 class="custom-margin-bottom"><font color="#FF0000"><b>All the more reasons to activate now!</b></font></h1>
                            
                            <p>By now you would have received your Lombard 180 card. To take advantage of the card saving features call to activate your card today! Keep a look out for your PIN which is on the way.</p>
                            
                            
                            
                            
                            
                             
                            
                            
                            
                            <p class="appleLinksBlack">Get in touch on <b>1300 132 301</b>, Monday to Friday between 9:00am and 8:00pm or Saturday to Sunday between 9:00am and 4:00pm (AEST). Alternatively, you can activate your card <a href="https://www.lombardfinance.com.au/OnlineAccess/login.aspx" target="_blank" alt=""><u><font color="#0782C1">online</font></u></a>. Log in using your Client ID and the password you selected at the time of application.</p>
                            
                            <p>We look forward to hearing from you and wish you safe travels.</p>
                            
                              <table>
                                <tr>
                                  <th class="outlookHeightFix" height="15" style="mso-line-height-alt:0;"></th>                                
                                </tr>
                    </table>  
                            
                            <p>Regards,</p>
                            
                            <p class="no-margin-bottom">Adam Frost</p>
                            
                            <p>Head of Cards</p>
                            
                          


                          </th>
                          <th class="expander"></th>
                          </tr>
                      </table>
                      
                      



                       <table>
                                <tr>
                                  <th class="outlookHeightFix" height="15" style="mso-line-height-alt:0;"></th>                                
                                </tr>
                    </table>    





                    </th>
                    </tr>
                </table>
                <!--/CONTENT-->



                <!-- Footer line -->
                <table class="row">
                  <tr>
                    <th class="small-12 large-12 columns first last">
                      <table>
                        <tr>
                          <th>
                            <center data-parsed="">
                              <img style="width:650px;" width="650" class="float-center" align="center" src="https://cmc.flexigroup.com.au/fleximg/GetImage/images/1511001LB_Edm-footer_Travel_FA.JPG" />
                            </center>
                          </th>
                          <th class="expander"></th>
                        </tr>
                      </table>
                    </th>
                  </tr>
                </table>
                <!-- /footer line-->
                
               

                <table class="row">
                  <tr>
                    <th class="columns large-12 first last">
                      <table>
                        <tr>
                          <td>
                            <div class="text-size-footer-flr text-color appleLinksBlack">

                              <!-- T&C -->
                              	^The Interest Free Term for the initial purchase via Escape Travel is as per the Sales Voucher in your Credit Contract.
*Existing customers only. 6 months Interest Free is available on all Lombard card purchases of $250 or more made in one transaction. Interest is payable on any balance outstanding after the Interest Free Term at the Annual Percentage Rate applicable to your Lombard account. An International Transaction Fee of 3% of the value of the transaction in Australian dollars, will be charged each time an amount is debited to your Lombard Card in respect of a Transaction conducted in a currency other than Australian Dollars.<br />
<br>


Credit provided by Lombard Finance Pty Ltd ABN31 099 651 877, Australian Credit Licence number 247415 (<b>Lombard</b>). 
Lombard® is a trademark of Lombard. Lombard is a subsidiary of FlexiGroup Limited.


                            </div>
                            <br>






                            <table>
                              <tr>
                                <td height="75px"></td>
                              </tr>
                            </table>
                          </td>


                          <td class="expander"></td>
                        </tr>
                      </table>
                    </th>
                  </tr>
                </table>

              </td>
              </tr>
          </table>

        </center>
      </td>
      </tr>
  </table>
</body>

</html>