---
file_name: FLR_E_PayoutOpts_11iii
category: Email-Projects
tag: Re-branding
---
{% include brand-controller.html %}
{% include variables.html %}

{% case {{site.flexi-brand}} %}
  {% when 'FlexiCommercial' %}
   {% assign color = "#CCCCCC" %} 
  {% when 'FlexiRent' %}
   {% assign color = "#00A3A1" %}
  {% when 'FlexiWay' %}
   {% assign color = "#f6ad1d" %}
  {% when 'EziLease' %}
   {% assign color = "#336699" %}
  {% when 'Lombard' %}
   {% assign color = "#F0575B" %}
 {% endcase %}

<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++  -->
<!-- ++++++++++++++++++++++  START HTML CODE ++++++++++++++++++++++++++++  -->
<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++  -->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
 xmlns:v="urn:schemas-microsoft-com:vml"
 xmlns:o="urn:schemas-microsoft-com:office:office">
<head>
<!--[if gte mso 9]><xml>
 <o:OfficeDocumentSettings>
  <o:AllowPNG/>
  <o:PixelsPerInch>96</o:PixelsPerInch>
 </o:OfficeDocumentSettings>
</xml>
<![endif]-->

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>{% case {{site.flexi-brand}} %}
                                            {% when 'FlexiCommercial' %}
                                            {{page.file_name | replace: "FLR", "FLC"}}
                                            {% when 'FlexiRent' %}
                                            {{page.file_name | replace: "FLR", "FLR"}}
                                            {% when 'FlexiWay' %}
                                            {{page.file_name | replace: "FLR", "FLW"}}
                                             {% when 'EziLease' %}
                                            {{page.file_name | replace: "FLR", "EZL"}}
                                        {% endcase %}</title>
  <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
  <table class="body" data-made-with-foundation>
    <tr>
      <td class="float-center" align="center" valign="top">
        <center>

                                    
              <table class="container">
                <tr>
                  <td>

                  <!-- HEADER -->
                    <table class="row">
                      <tr>
                        <th class="small-12 large-6 columns first">

                          <table>
                            <tr>
                              <th>                              
                                

                              <a target="_blank" href="{{ url }}"><img class="small-float-center float-left flexi-logo" src="{{ logo }}" /></a>                              
                              
                              </th>
                            </tr>
                          </table>

                        </th>
                        <th class="small-12 large-6 columns last" valign="bottom">

                          <table>
                            <tr>
                              <th class="text-right">
                                 <a title="tel:{{ tel | remove: ' ' }}" href="tel:{{ tel | remove: ' ' }}"><img class="float-right small-float-center" src="{{ tel_top_icon }}" /></a>
                              </th>
                            </tr>
                          </table>

                        </th>
                      </tr>
                    </table>

                    <table class="row">
                      <tr>
                        <th class="small-12 large-12 columns first last">
                          <table>
                            <tr>
                              <th>
                                <center data-parsed="">                            
                                    <img class="float-center" align="center" src="{{line}}" />
                                 </center>
                              </th>
                              <th class="expander"></th>
                            </tr>
                          </table>
                        </th>
                      </tr>
                    </table>

                    <table class="row">
                      <tr>
                        <th class="small-12 large-8 columns first" valign="top">
                          <table>
                           <tr>
                              <th>
                                <!-- BANNER  #welcome #transfer #reminder #important #end_of_term #payout_options -->
                                <img width="300px" height="36.2" style="width:300px;height:36.2px;" class="banner msoMarginTopFix float-left small-float-center flexi-margin-bottom" src="{{payout_options}}" />                                
                              </th>
                            </tr>
                          </table>
                        </th>
                        <th class="small-12 large-4 columns last" align="right">
                          <table>
                            <tr>
                              <th class="text-size text-color">
                                <table>
                                  <tr>
                                    <th class="primary-bg-color">
                                      <p class="flexi-margin" style="mso-line-height-alt:80%;">ACCOUNT DETAILS</p>
                                    </th>
                                  </tr>
                                </table>
                                <table>
                                  <tr>
                                    <th class="quaternary-bg-color">
                                      <p class="flexi-margin"><strong>Customer No:</strong><br />
                                        {{CustomerNo}}
                                      </p>
                                      <p class="flexi-margin"><strong>Agreement Number:</strong><br />
                                        {{ContractID}}
                                      </p>
                                      <p class="flexi-margin"><strong>Scheduled Agreement End Date:</strong><br />
                                        {{SchedEndDate}} 
                                      </p>
                                    </th>
                                  </tr>
                                </table>
                              </th>
                            </tr>
                          </table>
                        </th>
                      </tr>
                    </table>                   
                    <!-- /HEADER -->


                    <table>
                      <tr>
                        <td height="40px"></td>
                      </tr>
                    </table>                 


                    <!--CONTENT-->
                      <table class="row">
                        <tr>
                          <th class="large-12 columns first last text-color text-size">

                            <table>
                              <tr>
                                <th class="justify outlookLineHeightFix">
                                  
                                  <p> {{LetterSentDate}}</p>
                                  
                                  <br>
                                  <br>
                                  
                                  <p>Dear {{FirstName}},</p>

                                  <p>Thank you for your recent enquiry in relation to your payout options under your {{brand_name}} Rental Agreement.</p>

                                  <p>Your Rental Agreement will end on ${SchedEndDate}. As of the date of this email, you have ${getRemainingMonths} monthly rental payments remaining. To payout your Rental Agreement, there are a number of options that may be available to you. The options include:</p>
                                  
                                   <table bgcolor="#EBEBEB">
                                        <tr>
                                          <th style="padding:10px;">
                                            <table>                                         
                                          <tr>
                                            <td valign="top">   
                                              
                                              <h1 class="primary-color no-margin-bottom"><strong>Return</strong></h1>
                                              
                                              <p class="custom-margin-bottom">If you no longer want the rented goods, you can return them to us. You will need to pay the total of the remaining monthly rental payments which is ${displayRemainMonthlyPmts}. The goods must be returned in good working order together with all accessories and manuals at your expense.</p>
                                              
                                              <p class="custom-margin-bottom">The goods can be returned to any of our warehouse locations listed at the end of this email.</p>
                                              
                                              <p class="custom-margin-bottom">Please ensure you label the goods with the following for easy identification:</p>
                                              
                                            <div class="no-margin-bottom">
                                                  {% include good-identification.html %}
                                            </div>
                                              
                                              <p class="custom-margin-bottom">You must pay and return the goods prior to your next monthly payment date, due on ${displayNextPaymentDate} to avoid any additional payments. The payout amount is valid only until the date of your next monthly payment. The payout amount may change after this date.</p>
                                              <h1 class="primary-color no-margin-bottom"><strong>Offer to Purchase</strong></h1>
                                              
                                              <p class="custom-margin-bottom">If you would like to own the rented goods, we would be pleased to negotiate a sale price with you. You will need to pay the total of the remaining monthly rental payments, which is ${displayRemainMonthlyPmts}, and you can make us an offer to purchase the goods. You can offer any price, but we have the right to accept or reject your offer. At the date of this email, we estimate that the sale price of the goods would be approximately ${pvFMVatEOT}*.</p>
                                              
                                              <h1 class="primary-color no-margin-bottom"><strong>Other options</strong></h1>
                                              
                                              <p class="custom-margin-bottom">Under your {{brand_name}} Rental Agreement, you have a number of other options that may be available to you including Double Time where for 1 extra monthly payment at the end of term#, you can double the term of your Rental Agreement and continue using the goods with the benefits of the FlexiCare Program for the extended term^.</p>
                                              
                                              <p class="no-margin-bottom">
                                                Subject to approval, you can also choose to upgrade to new goods of any value on a new rental agreement. For this option, discounts may be applied to your offer to purchase or return the existing rented goods*.
                                              </p>
                                             
                                            </td>
                                          </tr>                                          
                                                                             
                                        </table>
                                          </th>
                                        </tr>                                        
                                      </table>
                                  
                                  <p class="appleLinksBlack flexi-margin-top">If you require any further information, please contact the {{brand_name}} Customer Team on {{BrandPhoneNumber}}.</p>

                                  <p>Regards,</p>

                                  <p>{{brand_name}}  Customer Team</p>

                                 {% include warehouse-add.html %}
                                  
                                  {% include line-height.html %}                               

                                </th>
                                <th class="expander"></th>
                              </tr>
                            </table>


                            
                   <table>
                      <tr>
                        <td height="90px"></td>
                      </tr>
                    </table>        

                            



                          </th>                          
                        </tr>
                      </table>
                    <!--/CONTENT-->



                     <!-- Footer line -->
                        <table class="row">
                          <tr>
                            <th class="small-12 large-12 columns first last">
                              <table>
                                <tr>
                                  <th>
                                    <center data-parsed="">
                                     <img class="float-center" align="center" src="{{line}}" />
                                    </center>
                                  </th>
                                  <th class="expander"></th>
                                </tr>
                              </table>
                            </th>
                          </tr>
                        </table><!-- /footer line-->

                        <table class="row">
                              <tr>
                                <th class="columns large-12 first last">
                                  <table>
                                    <tr>
                                      <td><div class="text-size-footer text-color">
                                    
                                      <!-- T&C -->
                                                                         
                                     

                                     <p class="text-size-footer appleLinksBlack" style="Margin-top:10px;margin-top:10px;">
                                       *All upgrade and purchase options are subject to our agreement and our standard terms and conditions, and all upgrade options are also subject to any internal credit criteria. #Acceptance of the double time payment offer is available on eligible, approved and settled deals before 13 October 2016 and is subject to credit criteria. Customers are liable for payments for the full term under the original agreement. One offer per customer. Flexi holds the right to withdraw the offers at any time. ^Provided under the FlexiCare Program and subject to terms and conditions. Refer to the product terms and conditions for a full list of exclusions. Flexirent Capital Pty Ltd ABN 93 064 046 046 is the Lessor and holds Australian Credit Licence number 394735 (<strong>Flexirent</strong>). {% case {{site.flexi-brand}} %}
                                            {% when 'FlexiCommercial' %}
                                              {{brand_name}}® is a trademark of Flexirent. 
                                            {% when 'FlexiRent' %}
                                              {{brand_name}}® is a trademark of Flexirent. 
                                            {% when 'FlexiWay' %}
                                              {{brand_name}}® is a trademark of Flexirent. 
                                       {% when 'SmartWay' %}
                                              {{brand_name}}® is a trademark of Flexirent. 
                                             {% when 'EziLease' %}                                              
                                        {% endcase %}                                    
                                      
                                      Flexirent is a subsidiary of FlexiGroup Limited.</p>

                                      {% if site.envi == "uat" %}
                                        <p class="text-size-footer text-color">
                                        {% case {{site.flexi-brand}} %}
                                            {% when 'FlexiCommercial' %}
                                            {{page.file_name | replace: "FLR", "FLC"}}
                                            {% when 'FlexiRent' %}
                                            {{page.file_name | replace: "FLR", "FLR"}}
                                            {% when 'FlexiWay' %}
                                            {{page.file_name | replace: "FLR", "FLW"}}
                                             {% when 'EziLease' %}
                                            {{page.file_name | replace: "FLR", "EZL"}}
                                        {% endcase %}</p>                                      
                                      {% else if site.envi == "prod" %}
                                          <p class="text-size-footer text-color"></p>
                                      {% endif %}

                                      </div>
                                    
                                     
                                     
                                      </td>
                                      <td class="expander"></td>
                                    </tr>
                                  </table>
                                </th>
                              </tr>
                            </table>

                  </td>
                </tr>
              </table>     
          
        </center>
      </td>
    </tr>
  </table>
</body>
</html>




