---
layout: default
---

<div class="section">
  <div class="content">
    <div class="row">
      <div class="large-12 column">
        <div><h5>{{ page.title }}</h5></div>
        <div class="email-list">
         {{ content }}
        </div>
      </div>
    </div>
  </div>
</div>
